.row
  .large-8.columns
    /.media-body
    .row
      .medium-2.columns
        = image_tag("http://placehold.it/65x65")
      .medium-10.columns
        %h4.subheader
          = comment.name
        %small
          = comment.created_at.to_s(:long)
        %p
          = simple_format comment.content
        .actions
          = link_to "Reply", new_comment_path(@conference, @event, parent_id: comment)
    .row
      .medium-6.medium-offset-1.columns
        = nested_comments comment.children
