%br
%br
.row
  .large-12.columns
    .row
      .large-6.columns
        %h4.subheader
          %i.fa.fa-comment-o
          = t("views.event.to_comment")
        %hr
    = form_for([@commentable, @comment], url: {controller: "comments", action: "create", event_id: @event}) do |f|

      = f.hidden_field :parent_id

      .row
        .large-4.columns
          %label{for: "name"}
            %i.fa.fa-user.fa-fw.fa-lg.subheader
            = Comment.human_attribute_name("name")
            %small
              = t("views.event.required")
          = f.text_field :name, label: false, required: true, class: "radius"

      .row
        .large-6.columns
          %label{for: "email"}
            %i.fa.fa-envelope.fa-fw.fa-lg.subheader
            = Comment.human_attribute_name("email")
            %small
              = t("views.event.required")
          = f.text_field :email, label: false, required: false, type: "email", class: "radius"

      .row
        .large-6.columns
          %label{for: "content"}
            %i.fa.fa-bars.fa-fw.fa-lg.subheader
            = Comment.human_attribute_name("content")
            %small
              = t("views.event.required")
          = f.text_area :content, label: false, maxlength: 256, required: true, class: "radius", size: "10x8"

      .row
        .large-4.columns
          = render "partials/recaptcha"
        .large-2.columns.left
          = f.submit(t("views.event.comment.post"), class: "button radius success expand")
