.show-for-touch{"data-magellan-expedition" => "fixed"}
  .row
    .large-12.columns
      %dl.sub-nav
        - (0...5).each do |i|
          .small-2.columns.left.text-center
            %dd{"data-magellan-arrival" => "monday"}
              %a{:href => "#{t('date.abbr_day_names')[i]}"}
                = t('date.abbr_day_names')[i]
                #{conference.start_date.day + i}

  .row
    .large-12.columns
      - (0..5).each do
        .row
          .row
            .small-3.columns
              %span.text-center 19:00-20:00
            .small-9.columns
              %a
                Title
          .row
            .small-3.columns
              %span.text-center 19:00-20:00
            .small-9.columns
              %a
                Title
          .row
            .small-3.columns
              %span.text-center 19:00-20:00
            .small-9.columns
              %a
                Title
          %hr

.row.hidden-for-touch
  .large-12.columns
    %table
      %thead
        %tr
          %th.text-center
            %i.fa.fa-clock-o.fa-lg
          - (0...5).each do |i|
            %th.text-center{:width => "260"}
              = t("date.day_names")[i] # TOFIX: put Monday as first day or the week
              = conference.start_date.day + i

      %tbody
      - (0...(5)).each do
        %tr
          - (0...1).each do
            %td
              21:00
          - (0...5).each do
            %td
              test
                     