/.show-for-touch{"data-magellan-expedition" => "fixed"}
- days = (conference.end_date.mjd - conference.start_date.mjd).to_i

.row
  .small-4.columns
    = link_to "Descargar calendario (iCal)", conference_path(params[:id], format: :ics), {class:"button secondary tiny radius"}
.row
  .large-12.columns{"data-magellan-expedition" => "fixed" }
    %dl.sub-nav
      - (0..days).each do |i|
        -# .small-2.columns.left.text-center
        %dd{"data-magellan-arrival" => "#{t('date.abbr_day_names')[i]}", style: "margin-left: 0.5rem"}
          = link_to("##{t('date.abbr_day_names')[i]}") do
            = t('date.abbr_day_names')[i].humanize
            #{conference.start_date.day + i}

.row
  .large-12.columns
    - @calendar_events.each do |event|
      - (0..days).each do |i|
        .row
          .small-3.columns
            - if event.start_dtime.nil? || event.end_dtime.nil?
              %dd.subheader
                = t('not_available').humanize
            - elsif event.end_dtime > DateTime.now
              Finalizado
            - else
              %dd
                = event.start_dtime.to_s(:time)
              %dd.subheader
                = t "time.to" 
                = event.end_dtime.to_s(:time)
          .small-9.columns{"data-magellan-destination" => "#{t('date.abbr_day_names')[i]}"}
            .panel.radius
              = link_to event.title, conference_event_path(@conference, event)
              .row
                .medium-5.columns
                  %small.subheader
                    Aula
                    - if event.room.present?
                      = event.room
                    - else
                      = t "not_available"
    %br
    %br

.row.hidden-for-small
  .large-12.columns
    %table
      %thead
        %tr
          %th.text-center
            %i.fa.fa-clock-o.fa-lg
          - (0..days).each do |i|
            %th.text-center{:width => "260"}
              = t("date.day_names")[i].humanize # TOFIX: put Monday as first day or the week
              = conference.start_date.day + i

      %tbody
      - (0...5).each do
        %tr
          - (0...1).each do
            %td
              21:00
          - (0...5).each do
            %td
              test
                  
