/.show-for-touch{"data-magellan-expedition" => "fixed"}
- days = (@conference.end_date.mjd - @conference.start_date.mjd).to_i

.row.hidden-for-large-up.show-for-portrait
  .large-12.columns.large-centered
    // TODO: localize
    = link_to "Descargar calendario (iCal)", conference_path(params[:id], format: :ics), {class:"button secondary tiny radius"}
.row.show-for-large-up
  .large-12.columns
    .right
      = link_to conference_path(params[:id], format: :ics) do
        %i.fa.fa-calendar.fa-fw
        // TODO: localize
        = "Descargar calendario (iCal)"

// FIXME: fix magellan navigation
-# .row.hidden-for-large-up.show-for-portrait
-#   .large-12.columns{"data-magellan-expedition" => "fixed" }
-#     %dl.sub-nav
-#       -# - (0..days).each do |i|
-#       - (@conference.start_date..@conference.end_date).each do |d|
-#         -# .small-2.columns.left.text-center
-#         %dd{"data-magellan-arrival" => "#{t('date.abbr_day_names')[d.day.to_i]}", style: "margin-left: 0.5rem"}
-#           = link_to("##{t('date.abbr_day_names')[d.day.to_i]}") do
-#             -# = t('date.abbr_day_names')[i].humanize
-#             -# = l(d, format: :abbr_day_name).humanize
-#             = l(d, format: :day_name_num).humanize
-#             -# #{@conference.start_date.day + i}

.row.hidden-for-large-up.show-for-portrait
  .large-12.columns
    - (@conference.start_date..@conference.end_date).each do |d|
      %h3.subheader
        = l(d, format: :day_name_num).humanize
      - @calendar_events.select{ |event| event.start_dtime.day == d.day }.sort_by(&:start_dtime).map do |event|
        .row
          .small-3.columns
            - if event.start_dtime.nil? || event.end_dtime.nil?
              %dd.subheader
                = t('not_available').humanize
            - elsif event.end_dtime > DateTime.now
              // TODO: localize
              Finalizado
            - else
              %dd
                = event.start_dtime.to_s(:time)
              %dd.subheader
                = t "time.to" 
                = event.end_dtime.to_s(:time)
          .small-9.columns{"data-magellan-destination" => "#{t('date.abbr_day_names')[d.day.to_i]}"}
            .panel.radius
              = link_to event.title, conference_event_path(@conference, event)
              .row
                .medium-5.columns
                  %small.subheader
                    = t('event.room')
                    - if event.room.present?
                      = event.room
                    - else
                      = t "not_available"
      %br
      %br

-# .row.hidden-for-small.show-for-landscape
-#   .large-12.columns
-#     %table
-#       %thead
-#         %tr
-#           %th.text-center
-#             %i.fa.fa-clock-o.fa-lg
-#           - (@conference.start_date..@conference.end_date).each do |d|
-#             %th.text-center
-#               = l(d, format: :day_name_num).humanize
-#       %tbody
-#       - (@conference.start_date..@conference.end_date).each do |d|
-#         %tr
-#           - @calendar_events.select{ |event| event.start_dtime.day == d.day }.map do |event|
-#             %td.schedule-time
-#               = "#{event.start_dtime.time.strftime("%H:%M")} - #{event.end_dtime.time.strftime("%H:%M")}"
-#           - @calendar_events.select{ |event| event.start_dtime.day == d.day }.map do |event|
-#             %td
-#               = event.title


.row.hidden-for-small.show-for-landscape
  - (@conference.start_date..@conference.end_date).each do |d|
    .large-2.columns{class: ("end" if d == @conference.end_date)}
      %dl
        %dt
          = l(d, format: :day_name_num).humanize
          -# = d.day.to_i
        - @calendar_events.select{ |event| event.start_dtime.day == d.day }.sort_by(&:start_dtime).map do |e|
          %dd
            -# = e.title
            = link_to e.title, conference_event_path(@conference, e)
            %br
            = "#{e.start_dtime.time.strftime("%H:%M")} - #{e.end_dtime.time.strftime("%H:%M")}"
