.row
  .large-12.columns
    %h2.subheader
      Calendario
      .pull-right
        = link_to conference_path(params[:id], format: :ics), {class: "button secondary tiny radius"} do
          %i.fa.fa-calendar.fa-fw.fa-lg
          = t("views.event.download_ical")

  - (@conference.start_date..@conference.end_date).each_with_index do |d, index|
    .medium-6.columns
      %h3.subheader
        = l(d, format: :day_name_num).humanize
      %hr
      - @calendar_events.select{ |event| event.start_dtime.day == d.day }.sort_by(&:start_dtime).map do |event|
        .panel{style: "background-color: #f9f9f9"}
          = link_to event.title, conference_event_path(@conference, event)
          .row
            .large-12.columns
              = render partial: "partials/status_tags_short", locals: {event: event}
            - unless event.cancelled?
              .pull-right
                .large-12.columns
                  - if event.start_dtime.nil? || event.end_dtime.nil?
                    .label
                      = t("not_available").humanize
                  - elsif DateTime.now > event.end_dtime
                    .label.secondary{style: "border: 1px solid"}
                      = t("views.event.finalized").humanize
                    |
                  - else
                    %small.subheader
                      = event.start_dtime.to_s(:time)
                      = t("time.to")
                      = event.end_dtime.to_s(:time)
                    |
                  %small.subheader
                    = t("views.event.room")
                    - if event.room.present?
                      = event.room
                    - else
                      = t("not_available")

