.row
  .large-12.columns
    = t("views.conference.captions.other"):
    .radius.label
      %i.fa.fa-bullhorn.fa-lg
      = t("views.event.subclasses.talk")
    .radius.label
      %i.fa.fa-wrench.fa-lg
      = t("views.event.subclasses.workshop")
    .warning.radius.label
      %i.fa.fa-child.fa-lg
      = t('views.speaker.unassigned')
    .alert.radius.label
      %i.fa.fa-lock.fa-lg
      = t("views.event.status.cancelled")
%br
