#map-modal.reveal-modal.medium{"data-reveal" => ""}
  %h1.subheader
    = t("views.event.directions")
  %hr
  .show-for-medium-up
    .large-6.columns
      %iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://www.openstreetmap.org/export/embed.html?bbox=-3.7745869159698486%2C40.32920685790656%2C-3.759984970092773%2C40.33579063582344&amp;layer=mapnik&amp;marker=40.33249473785238%2C-3.7672805786132812", :style => "border: 1px solid black", :width => "425"}
      %br/
      %small
        %a{:href => "https://www.openstreetmap.org/?mlat=40.33249&amp;mlon=-3.76728#map=17/40.33250/-3.76729&amp;layers=N"}
          = t("views.event.map.view_bigger")
  .large-6.columns
    .row
      .small-1.columns
        .fa.fa-subway.fa-2x.subheader
      .small-11.columns
        %h4.subheader
          = t("views.event.map.go_train")
        %ul.no-bullet
          %li
            = "#{t("views.event.map.stop")}:"
            Leganés Central
          %li
            Cercanías C-5
          %li
            Metro Sur
    .row
      .small-1.columns
        .fa.fa-bus.fa-2x.subheader
      .small-11.columns
        %h4.subheader
          = t("views.event.map.go_bus")
        %ul.no-bullet
          %li
            = "#{t("views.event.map.stop")}:"
            Leganés Central
          %li
            = "#{t("views.event.map.lines")}:"
            432, 450, 480, 482, 486 y 485
    .row
      .small-1.columns
        .fa.fa-map-marker.fa-2x.subheader
      .small-11.columns
        %ul.no-bullet
          %li
            Avenida de la Universidad, 30
          %li
            28911 Leganés Madrid, España.
          .fa.fa-compass.subheader
          = link_to "40º18´54,80” N 3º43´37,93” O","http://www.openstreetmap.org/?mlat=40.33249&amp;mlon=-3.76728#map=17/40.33250/-3.76729&amp;layers=N"
  %a.close-reveal-modal ×
