.row
  .large-12.columns
    .large-4.columns
      %label{for: "name"}
        %i.fa.fa-users.fa-fw.fa-lg.subheader
        = t("speaker.name")
        %small
          = t("event.required")
        .right
          %sub 64
      = f.text_field :name, label: false, maxlength: 64, class: "radius lettrify"

    .large-4.columns
      %label{for: "email"}
        %i.fa.fa-envelope.fa-fw.fa-lg.subheader
        = t("speaker.email")
        %small
          = t("event.required")
        .right
          %sub 64
      = f.text_field :email, label: false, maxlength: 64, type: "email", class: "radius"

    .large-4.columns
      %label{for: "twitter"}
        %i.fa.fa-twitter.fa-fw.fa-lg.subheader
        = t("speaker.twitter")
      .row.collapse.prefix-radius
        .small-2.columns
          %span.prefix
            %i.fa.fa-at.fa-fw.subheader
        .small-10.columns
          = f.text_field :twitter, label: false, maxlength: 64, pattern: "([A-Za-z0-9_]{1,15})", class: "radius"

    .large-12.columns
      .show-for-large-up
        = f.check_box :certificate, label: t('speaker.request_certificate').humanize, id: "cert-check"
      .show-for-medium-down
        .switch.small.radius
          = f.check_box :certificate, label: t('speaker.request_certificate').humanize, id: "cert-check"    
      // FIXME!!
      -# %label{for: "certificate"}
      -#   = t('speaker.request_certificate').humanize
      -# FIXME: Switch behaviour
      -# .show-for-touch
        .switch.radius.small
          // FIXME: generate Foundation random_str as ID
          - rand_id = ('0'..'z').to_a.shuffle.first(6).join
          %input{id: "switch-#{rand_id}", type: "checkbox", name: "detailed_event[speakers_attributes][#{f.index}][certificate]"}
            %label{for: "switch-#{rand_id}"}
            -# %label{for: "certificate"}
            = t('speaker.request_certificate').humanize
    -# .row
    -#   .large-5.columns
    -#     = check_box_tag "certificate", nil
    -#     %label{for: "certificate"}
    -#       = t("speaker.request_certificate")

