#video-modal.reveal-modal.medium.show-for-medium-up{"data-reveal" => ""}
  .row
    .large-12.columns
      - if @event.live_video.present? or @event.video.present?
        .flex-video.widescreen
          - if @event.live_video.present? and not @event.video.present?
            // FIXME
            = video_path(@event.live_video)
          - elsif @event.video.present?
            = video_tag(@event.video, controls: true, autobuffer: true)
        %h5
          = h(@event.title)
        %p.subheader
          = @event.map { |speaker| h(speaker.name) }.to_sentence
      - else
        .alert-box.radius
          %i.fa.fa-frown-o.fa-fw.fa-2x
          = t("warning.no_video")
  %a.close-reveal-modal ×
