#video-modal.reveal-modal.medium.show-for-medium-up{"data-reveal" => ""}
  - if @event.live_video.present? or @event.video.present?
    .flex-video.widescreen
      - if live == true
        = embed(@event.live_video)
      - else
        = video_tag(@event.video, controls: true, autobuffer: true)
    %hr
    %h3.subheader
      = h(@event.title)
    %p
      Presentado por:
      - @event.speaker_list.each_with_index.map do |speaker, index|
        - if speaker.twitter.present?
          = link_to h(speaker.name), "https://twitter.com/#{speaker.twitter}", target: "_blank"
        - else
          = h(speaker.name)
        - unless index+1 == @event.speaker_list.length
          = ", "
    %span.right
      Duración estimada:
      = distance_of_time_in_words(@event.start_dtime, @event.end_dtime)

  - else
    %i.fa.fa-frown-o.fa-fw.fa-2x
    = t("warning.no_video")

  %a.close-reveal-modal ×
