#video-modal.reveal-modal.medium.show-for-medium-up{"data-reveal" => ""}
  .row
    .large-12.columns
      - if @event.live_video.present? or @event.video.present? 
        .flex-video.widescreen
          - if @event.live_video.present? and !@event.video.present?
            // FIXME
            = video_path(@event.live_video)
          - elsif @event.video.present?
            = video_tag(@event.video, controls: true, autobuffer: true)
        %h5
          = @event.title
        %p.subheader
          - @event.speakers.each_with_index.map do |speaker|
            = speaker.name
            = ", "
      - else
        .alert-box.radius
          %i.fa.fa-frown-o.fa-fw.fa-2x
          = t("warning.no_video")

  %a.close-reveal-modal ×
