.row
  .large-12.columns
    .medium-5.columns
      %h1
        = @conference.title
      %h3.subheader
        %span.grey> from
        = @conference.start_date.strftime("%d")
        %span.grey> to
        = @conference.end_date.strftime("%d")
        %span.grey> of
        = @conference.start_date.strftime("%B")
.row
  .large-12.columns
    = render "partials/calendar"
    - if @talks.count > 0
      %table
        %thead
          %tr
            %th{:width => "360"} Talk
            /%th Table Header
            %th{:width => "150"}
              %i.fi-calendar
              &
              %i.fi-clock
            %th{:width => "40"} Votes
        %tbody
          - @talks.each do |talk|
            %tr
              %td
                = link_to talk.title, :controller => 'talks', :action => 'show', :id => talk.id
              %td
                = talk.date
              %td.text-center
                = talk.votes
    - else
      .row
        .medium-6.medium-centered.columns
          .panel.callout.radius
            %h3 The call for talks is open
            %p Be the first to propose a talk!


.row
  .large-6.large-centered.columns
    - if @conference.call_for_papers_enabled == true
      = link_to "Propose talk", "talks/new", :con_id => @conference.id, :class => "button radius expand"
