.row
  .large-12.columns
    .medium-5.columns
      %h1
        talks 2014
      %h3.subheader
        %span.grey> from
        22
        %span.grey> to
        28
        %span.grey> of
        april
    // Proof of concept 
    //.medium-5.columns
    //  %ul.no-bullet.text-right
    //    %li 
    //      Call for talks
    //      %span.label.success.radius OPEN
    //    %li 
    //      Voting period from XX to XX xxxxx
    //      %span.label.alert.radius CLOSED
    //    %li
    //      This is a warning tag
    //      %span.label.alert-box.warning.radius
    //        WARNING
.row
  .large-12.columns
    //- if @conferences.voting_end_date >= Date.today
    = render "partials/calendar"
    - if @talks.count > 0
      %table
        %thead
          %tr
            %th{:width => "360"} Talk
            /%th Table Header
            %th{:width => "150"}
              %i.fi-calendar
              &
              %i.fi-clock
            %th{:width => "40"} Votes
        %tbody
          - @talks.each do |talk|
            %tr
              %td
                = link_to talk.title, :controller => 'talks', :action => 'show', :id => talk.id
              %td
                = talk.date
              %td.text-center
                = talk.votes
    - else
      .row
        .medium-6.medium-centered.columns
          .panel.callout.radius
            %h3 The call for talks is open
            %p Be the first to propose a talk!


.row
  .large-6.large-centered.columns
    = link_to "Add talk", "talks/new", :class => "button radius expand"
