.row
  .medium-7.columns
    %ul.breadcrumbs
      %li
        = link_to t("home"), "/"
      %li
        = link_to Conference.find(params[:conference_id]).title, :controller => 'conferences', :action => 'show', :id => params[:conference_id]
      %li.current
        = t("talk.new_talk")
.row
  .medium-7.columns
    %p
      = t("talk.complete_form")
    %p
      = t("talk.required_field")

= form_for(@talk, url: {controller: "talks", action: "create"}, data: {avide: ""}) do |f|
  .row
    .large-12.columns
      /= f.label :title
      %label{:for => "title"}
        %i.fi-bookmark
        = t("talk.form_title")
      = f.text_field :title, :pattern => "[a-zA-Z\s]+", :required => true
      %small.error Name is required and must be a string.

  .row
    .large-12.columns
      /= f.label :brief_description
      %label{:for => "brief_description"}
        %i.fi-paperclip
        = t("talk.form_brief_description")
      //(chars < 140 desireable)
      = f.text_field :brief_description, :pattern => "[a-zA-Z\s]+", :required => true
      /= f.text_field :brief_description, :pattern => "alpha_numeric",:required => true

  .row
    .large-12.columns
      /= f.label :description
      %label{:for => "description"}
        %i.fi-align-justify
        = t("talk.form_description")
      /= f.text_area :description, :pattern => "alpha_numeric", :required => true
      = f.text_area :description, :pattern => "[a-zA-Z\s]+", :required => true

  .row
    .large-12.columns
      %label
        %i.fi-link
        = t("talk.form_url")
      /= f.text_field :content_url, :pattern => "url"
      = f.text_field :content_url

  .row
    .large-6.columns
      %label
        %i.fi-lightbulb
        = t("talk.form_level")
      .row.show-for-touch
        .large-12.columns
          = f.range_field :level, :step => "1", :min => "0", :max => "4"
          %span.level-name

      .row.hide-for-touch
        .large-12.columns
          = radio_button("level", "category", "0")
          %label
            = t("talk.level_noob")
          = radio_button("level", "category", "1")
          %label
            = t("talk.level_easy")
          = radio_button("level", "category", "2")
          %label
            = t("talk.level_medium")
          = radio_button("level", "category", "3")
          %label
            = t("talk.level_hard")
          = radio_button("level", "category", "4")
          %label
            = t("talk.level_hacker")

  .row
    .large-12.columns
      %label
        %i.fi-torsos
        = t("talk.form_speakers")
      = f.text_field :speaker

  .row
    .large-12.columns
      %label{:for => "tags"}
        %span.tag-icon
          \# 
        = t("talk.form_tags") 
      = f.text_field :tags

  .row
    .large-12.columns
      %label{:for => "speaker_contact_info"}
        %i.fi-mail
        = t("talk.form_contact")
      /= f.label :speaker_contact_info
      /= f.email_field :speaker_contact_info, :pattern => "email"
      = f.email_field :speaker_contact_info

  .row
    .large-12.columns
      %label{:for => "comments"}
        %i.fi-comments
        = t("talk.form_comments")
      = f.text_area :comments
  .row
    .large-6.columns.large-centered
      = f.submit t("talk.send_talk"), class: "button radius expand success"    
