.row
  .medium-7.columns
    %ul.breadcrumbs
      %li
        %a{:href => "/"} Home
      %li.current
        %a{:href => "#"} New Talk
.row
  .medium-7.columns
    %p Complete the form to register a new talk
= form_for(@talk, url: {action: "create"}, data: {avide: ""}) do |f|
  .row
    .large-12.columns.title-field
      /= f.label :title
      %i.fi-bookmark
      Title
      = f.text_field :title, :pattern => "alpha_numeric", :required => true
      /%input{:for => "title", :type => "text", :pattern => "[a-zA-Z\s]+", :required => ""}
      %small.error Name is required and must be a string.

  .row
    .large-12.columns
      /= f.label :brief_description
      %label{:for => "brief_description"}
        %i.fi-paperclip
        Brief description
      //(chars < 140 desireable)
      = f.text_field :brief_description, :pattern => "alpha_numeric",:required => true

  .row
    .large-12.columns
      /= f.label :description
      %label{:for => "description"}
        %i.fi-align-justify
        Description
      = f.text_area :description, :pattern => "alpha_numeric", :required => true

  .row
    .large-12.columns
      %label
        %i.fi-link
        Slides URL
      = f.text_field :content_url, :pattern => "url"

  .row
    .medium-6.columns
      %label
        %i.fi-lightbulb
        Level
      /= f.label :level
      = f.range_field :level, :step => "1", :min => "0", :max => "4"
      /%input#level{:for => "level", :type => "range", :step => "1", :min => "0", :max => "4"}
    .medium-4.left.columns  
      %p Level Name

  .row
    .large-12.columns
      /= f.label :speaker
      %label
        %i.fi-torsos
        Speaker[s]
      = f.text_field :speaker

  .row
    .large-12.columns
      /= f.label :tags
      %label{:for => "tags"}
        %span.tag-icon
          \# 
        Tags 
      = f.text_field :tags

  .row
    .large-12.columns
      %label{:for => "speaker_contact_info"}
        %i.fi-mail
        Contact info (e-mail desireable)
      /= f.label :speaker_contact_info
      = f.email_field :speaker_contact_info, :pattern => "email"

  .row
    .medium-4.columns
      %label{:for => "talk_date"} 
        %i.fi-calendar
        Date
      /= f.label :date
      /%field{:for => "date", :type => "date", :min => "2014-02-01", :max => "2014-2-08" }
      = f.date_select :date, :start_year => 2014, :order => [:day, :month, :year]
      / Need to change this to use date_field
    .medium-4.columns
      %label{:for => "talk_start_time"}
        %i.fi-clock
        Start time
      /= f.label :start_time
      /%time_select{:type => "time"}
      = f.time_select :start_time, :start_hour => 9, :end_hour => 20, :minute_step => 15
      / Need to change this to use time_field
    .medium-4.columns
      %label{:for => "talk_end_time"}
        %i.fi-clock
        End time
      /= f.label :end_time
      /%input{:type => "time"}
      = f.time_select :end_time, :start_hour => 9, :end_hour => 20, :minute_step => 15
      / Need to change this to use time_field
  .row
    .large-12.columns
      %label{:for => "comments"}
        %i.fi-comments
        Comments
      = f.text_area :comments
  .row
    .large-6.columns.large-centered
      %input.button.radius.big-button.success{:name => "commit", :type => "submit", :value => "Send talk"}
    

//.row.collapse
//  .small-3.large-2.columns
//    %span.prefix http://
//.small-9.large-10.columns
//  = f.url_field :content_url
//  = f.label :content_url
//  = f.url_field :content_url
///%p.button
///  = f.submit
