.row
  .medium-7.columns
    %ul.breadcrumbs
      %li
        = link_to t("home"), "/"
      %li
        = link_to Conference.find(params[:conference_id]).title, :controller => 'conferences', :action => 'show', :id => params[:conference_id]
      %li.current
        = link_to talk.title, "#"
.row
  .large-12.columns
    %h3
      = talk.title
    %h6.subheader
      = talk.brief_description
.row
  .medium-4.columns
    %ul.no-bullet
      %li
        %i.fi-torso
        = talk.speaker
      %li
        %i.fi-calendar
        - if talk.date
          = l talk.date, :format => :long
      %li
        %i.fi-clock
        - if talk.start_time && talk.end_time
          = talk.start_time.strftime('%R')
          = t("time.to")
          = talk.end_time.strftime('%R')
        - else
          Not avaliable

  .medium-4.columns
    %ul.no-bullet
      %li
        %i.fi-marker
      %li
        %i.fi-info
      %li
        %i.fi-torsos
        /- talk.
  .medium-4.columns
    %ul.no-bullet
      %li
        %i
      %li
        %i
      %li
.row
  .large-12.columns
    // TODO: to put this inline style in css file
    %p.text-justify{:style => "word-break:break-all;"}
      = talk.comments
/Ponente: The QVD Team
/Fecha: 2013-10-24
/Hora de inicio: 18:00
/Hora de fin: 19:00
/Aula: 2.3.A.04
/Conocimientos previos:
/Nivel (1 = básico, 5 = difícil): 3
/Referencias:
/Asistido por:

.row
  .large-6.columns
    = link_to t("talk.back_to_talks"), { :controller => 'conferences', :action => 'show', :id => talk.conference_id }, { :class => "button radius expand" }
  .large-6.columns
    - if Conference.find(talk.conference_id).voting_enabled
      = link_to t("to_vote"), "/thanks_vote", :class => "button success radius expand"
