.row
  .medium-7.columns
    %ul.breadcrumbs
      %li
        = link_to t("home"), "/"
      %li
        = link_to Conference.friendly.find(params[:conference_id]).title, :controller => 'conferences', :action => 'show', :id => params[:conference_id]
      %li.current
        = t("talk.new_talk")
.row
  .medium-7.columns
    %h1 
      = t("thanks.thank_you")
    %p 
      = t("thanks.thanks_msg")
    %p
      = t("thanks.contact_msg")
      = mail_to "info@gul.es", "info@gul.es", subject: "[GUL TALKS]" 
.row
  .large-6.columns
    = link_to t("talk.back_to_talks"), { :controller => 'conferences', :action => 'show', :id => params[:conference_id] }, { :class => "button radius expand" }
  .large-6.columns
    = link_to t("conference.propose_another_talk"), { :controller => 'talks', :action => 'new' }, { :class => "button success radius expand" }
