- page_title t("Conferences")

.row
  .large-12.columns.show-for-medium-up.show-for-landscape
    %ul.breadcrumbs
      %li
        = link_to t("home"), root_path
      %li.current
        = t("conference.list")
.row
  .large-12.columns
    %h1.subheader
      = t("conference.list")
    %hr
    - unless @conferences.count.zero?
      -# FIXME: translate
      .large-12.colums
        %p |
          A continuaci칩n se muestran todas las anteriores ediciones.
          Pulsa sobre un a침o y se mostrar치n las ediciones para ese a침o.

      - seasons = @conferences.map{|conference| conference.start_date.year}.uniq
      .large-12.colums.show-for-small-down
        %ul.accordion{"data-accordion" => ""}
          - seasons.each do |year|
            %li.accordion-navigation
              %a{href: "#panel-accordion-#{year}"}
                %strong
                  = year

              .content{id: "panel-accordion-#{year}", class: "#{ seasons.max == year ? 'active' : ''}" }
                .row
                  - @conferences.select{|conference| conference.start_date.year.eql? year }.map do |conference|
                    .medium-6.columns
                      %strong
                        = link_to conference.title, conference_path(conference)
                      %p
                        = format_subclasses_string(conference) if not nil

      .large-12.colums.show-for-medium-up
        %ul.tabs.vertical{"data-tab" => ""}
          - seasons.each do |year|
            %li.tab-title.text-center
              %a{href: "#panel-tab-#{year}"}
                %strong
                  = year

        .tabs-content
          - seasons.each do |year|
            .content{id: "panel-tab-#{year}", class: "#{ seasons.max == year ? 'active' : ''}"}
              .row
                - @conferences.select{|conference| conference.start_date.year.eql? year }.map do |conference|
                  .medium-4.columns
                    .panel
                      %strong
                        = link_to conference.title, conference_path(conference)
                      %p
                        = format_subclasses_string(conference) if not nil
    - else
      .row
        .large-12.columns
          .alert-box
            %i.fa.fa-frown-o.pull-left.fa-2x
            = t("warning.no_conferences")
