.row
  .medium-7.columns
    %ul.breadcrumbs
      %li
        = link_to t("home"), "/"
      %li.current
        = t("conference.list")
.row
  .large-12.columns
    .medium-5.columns
      %h1
        = t("Conferences")
.row
  .large-12.columns
    = render "partials/calendar"
    - if @conferences.count > 0
      %table
        %thead
          %tr
            %th{:width => "360"}
              = t("Conference")
            %th{:width => "150"}
              %i.fi-calendar
        %tbody
          - @conferences.each do |conference|
            %tr
              %td
                = link_to conference.title, :controller => 'conferences', :action => 'show', :id => conference
              %td
                = l conference.start_date, :format => :month_year
