- page_title t("Conferences")

.row
  .large-12.columns.show-for-medium-up.show-for-landscape
    %ul.breadcrumbs
      %li
        = link_to t("home"), root_path
      %li.current
        = t("conference.list")
.row
  .large-12.columns
    %h1.subheader
      = t("conference.list")
    %hr

    %p |
      A continuaci칩n se muestran todas las anteriores ediciones.
      Pulsa sobre un a침o y se mostrar치n las ediciones para ese a침o.
    -# .large-block-grid-4
    - unless @conferences.count.zero?
      %dl.accordion{"data-accordion" => ""}
        - @conferences.map{|conference| conference.start_date.year}.uniq.each do |year|
          -#     -# - unless conference.active
          %dd.accordion-navigation
            %a{href: "#panel-#{year}"}
              %b
                = year
            .content{id: "panel-#{year}"}
              %dl
                - @conferences.select{|conference| !conference.active and conference.start_date.year.eql? year }.map do |conference| 
                  %dt
                    = link_to conference.title, conference_path(conference)
                  %dd
                    // TODO: use to_sentence instead and localize
                    = "Hubo " + conference.events.where(accepted: true, subclass: "talk").count.to_s + " charlas y " + conference.events.where(accepted: true, subclass: "workshop").count.to_s + " talleres."

    - else
      .row
        .large-12.columns
          .alert-box.radius
            %i.fa.fa-warning.pull-left.fa-2x
            = t("warning.no_conferences")
