- page_title t("Conferences")

.row
  .large-12.columns.show-for-medium-up.show-for-landscape
    %ul.breadcrumbs
      %li
        = link_to t("home"), root_path
      %li.current
        = t("conference.list")
.row
  .large-12.columns
    %h1.subheader
      = t("conference.list")
    %hr
    - unless @conferences.count.zero?
      // FIXME: translate
      .large-12.colums
        %p |
          A continuaci칩n se muestran todas las anteriores ediciones.
          Pulsa sobre un a침o y se mostrar치n las ediciones para ese a침o.

      - seasons = @conferences.map{|conference| conference.start_date.year}.uniq
      .large-12.colums.show-for-medium-down
        %ul.accordion{"data-accordion" => ""}
          - seasons.each do |year|
            %li.accordion-navigation{class: "#{ seasons.max == year ? 'active' : ''}" }
              %a{href: "#panel-accordion-#{year}"}
                %b
                  = year

            - seasons.each do |year|
              - @conferences.select{|conference| conference.start_date.year.eql? year }.map do |conference|
                .content{id: "panel-accordion#{conference.start_date.year}"}
                  .row
                    .medium-3.columns
                      = link_to conference.title, conference_path(conference)
                      %dd
                        // TODO: use to_sentence instead and localize
                        // TODO: loop over type of events dynamically
                        - talks = conference.events.where(accepted: true, subclass: "talk").count
                        - workshops = conference.events.where(accepted: true, subclass: "workshop").count
                        - if talks > 0 and workshops > 0
                          = talks.to_s + " charlas y " + workshops.to_s + " talleres."
                        - else
                          Sin eventos

      .large-12.colums.show-for-large-up
        %ul.tabs.vertical{"data-tab" => ""}
          - seasons.each do |year|
            %li.tab-title.text-center
              %a{href: "#panel-#{year}", class: "#{ seasons.max.eql? year ? 'active' : ''}"}
                %b
                  = year

        .tabs-content
          - seasons.each do |year|
            - @conferences.select{|conference| conference.start_date.year.eql? year }.map do |conference|
              .content{id: "panel-#{conference.start_date.year}"}
                .row
                  .medium-3.columns
                    = link_to conference.title, conference_path(conference)
                    %dd
                      // TODO: use to_sentence instead and localize
                      // TODO: loop over type of events dynamically
                      - talks = conference.events.where(accepted: true, subclass: "talk").count
                      - workshops = conference.events.where(accepted: true, subclass: "workshop").count
                      - if talks > 0 and workshops > 0
                        = talks.to_s + " charlas y " + workshops.to_s + " talleres."
                        /#{talks.any? ? '' : talks.to_s + " charlas"} + #{workshops.any? '' : workshops.to_s + " talleres."
                      - else
                        Sin eventos

    - else
      .row
        .large-12.columns
          .alert-box
            %i.fa.fa-warning.pull-left.fa-2x
            = t("warning.no_conferences")
