- page_title t("Conferences")

.row
  .large-12.columns.show-for-medium-up.show-for-landscape
    %ul.breadcrumbs
      %li
        = link_to t("home"), root_path
      %li.current
        = t("conference.list")
.row
  .large-12.columns
    %h1.subheader
      = t("conference.list")
    %hr
    - unless @conferences.count.zero?
      // FIXME: translate
      %p |
        A continuaci칩n se muestran todas las anteriores ediciones.
        Pulsa sobre un a침o y se mostrar치n las ediciones para ese a침o.

      - years = Array.new
      %ul.tabs.vertical{"data-tab" => ""}
        - @conferences.map{|conference| conference.start_date.year}.uniq.each do |year|
          %li.tabs-title
            %a{href: "#panel-#{year}"}
              %b
                = year
                - years.push(year)

      .tabs-content
        - years.each do |year|
          - @conferences.select{|conference| conference.start_date.year.eql? year }.map do |conference|
            .content{id: "panel-#{conference.start_date.year}"}
              = link_to conference.title, conference_path(conference)
              %dd
                // TODO: use to_sentence instead and localize
                - talks = conference.events.where(accepted: true, cancelled: false, subclass: "talk").count
                - workshops = conference.events.where(accepted: true, cancelled: false, subclass: "workshop").count

                - if talks > 0 and workshops > 0
                  = talks.to_s + " charlas y " + workshops.to_s + " talleres."
                - else
                  Sin eventos
    - else
      .row
        .large-12.columns
          .alert-box
            %i.fa.fa-warning.pull-left.fa-2x
            = t("warning.no_conferences")
