- page_title Conference.model_name.human(count: 2)

= home_breadcrumbs("conferences")
= render partial: "partials/view_header", locals: { header: "conference.list" }

.row
  .large-12.columns
    - unless @conferences.count.zero?
      - seasons = @conferences.map{|conference| conference.start_date.year}.uniq

      .large-12.columns.show-for-medium-up
        .right
          - seasons.each do |year|
            %small
              = link_to year, "##{year}"

      .large-12.colums
        - seasons.each do |year|
          .large-12.columns
            %h3.subheader{id: "#{year}"}
              = year
          - @conferences.select{|conference| conference.start_date.year.eql? year }.map do |conference|
            .large-6.columns.left
              %span
                = link_to conference.title, conference_path(conference)
              %p
                %small
                  = format_subclasses_string(conference)

    - else
      .row
        .large-12.columns
          .alert-box
            %i.fa.fa-frown-o.pull-left.fa-2x
            = t("views.conference.warning_no_conferences")
