- page_title t("Conferences")

.row
  .large-12.columns.show-for-medium-up.show-for-landscape
    %ul.breadcrumbs
      %li
        = link_to t("home"), root_path
      %li.current
        = t("conference.list")
.row
  .large-12.columns
    .columns
      %h1.subheader
        Antiguas ediciones
    %hr

    .columns
      .large-block-grid-4
        - @conferences.each do |conference|
          - unless conference.active
            .panel.radius.expand
              -# = image_tag("http://placehold.it/230x320")
              %h4
                = link_to conference.title, conference_path(conference)
              %p
                = conference.events.where(accepted: true, subclass: 0).count
                = conference.events.where(accepted: true, subclass: 1).count
