/ .row
/   .medium-7.columns
/     %ul.breadcrumbs
/       %li
/         = link_to t("home"), "/"
/       %li.current
/         = @conference.title
.row.hide-for-small-only
  .large-12.columns
    %h1
      = @conference.title
    %h6.subheader
      = @conference.description
    %h3.subheader
      %span.grey>= t("date.from")
      /= l @conference.start_date, :format => :day_only
      = conference.start_date.day
      %span.grey>= t("date.to")
      /= l @conference.end_date, :format => :day_only
      = conference.end_date.day
      %span.grey>= t("date.of")
      = l @conference.start_date, :format => :month_only

.row
  .large-12.columns
    //if conference.start_date.today?
    = render "partials/calendar"
    - if @conference.active?
      .row
        .large-12.large-centered.columns
          %h1
            Faltan
            = distance_of_time_in_words_to_now(@conference.call_for_papers_start_date)
            /= @conference.call_for_papers_start_date.mjd - DateTime.now.mjd
            /días
    - if !@events.count.zero?
      %table
        %thead
          %tr
            %th{:width => "980"}
              = t("Event")
            / %th{:width => "150"}
            /   %i.fa.fa-calendar
            /   &
            /   %i.fa.fa-clock-o
            - if @conference.voting_enabled
              %th{:width => "40"}
                = t("Votes")
        %tbody
          - @events.each do |event|
            %tr
              %td
                = link_to event.title, :controller => 'events', :action => 'show', :id => event, :conference_id => @conference
                - if !event.cancelled? and event.created_at.today?
                  %span.success.radius.label
                    = t("event.status.new").humanize
                - if event.cancelled?
                  %span.alert.radius.label
                    = t("event.status.cancelled").humanize
                %span.warning.radius.label
                  %i.fa.fa-wrench.fa-lg
                  = t("event.type.workshop").humanize
                %h5
                  %small
                    = event.brief_description
              / %td
              /   - if event.date
              /     = l event.date
              - if @conference.voting_enabled
                %td.text-center
                  = event.votes
      = will_paginate @events
    - elsif #@conference.call_for_papers_start_date.today?
      .row
        .large-8.large-centered.columns
          %h1 Faltan 
          = @conference.call_for_papers_start_date.mjd - DateTime.now.mjd

    - else
      .row
        .medium-6.medium-centered.columns
          .panel.callout.radius
            %h3
              = t("conference.call_for_events_open")
            %p
              = t("conference.first_to_propose")

.row
  .large-6.columns
    = link_to t("conference.list"), { :controller => 'conferences', :action => 'index' }, { :class => "button radius expand" }
  .large-6.columns
    - if @conference.call_for_papers_enabled
      = link_to t("conference.propose_event"), { :controller => 'events', :action => 'new', :conference_id => @conference }, { :class => "button success radius expand" }
