/ .row
/   .medium-7.columns
/     %ul.breadcrumbs
/       %li
/         = link_to t("home"), root_path
/       %li.current
/         = @conference.title
.row
  .large-12.columns
    %h1
      = @conference.title
    -# %h6.subheader
    -#   = @conference.description
    -# %hr

    %h3.subheader
      %span.grey>= t("date.from")
      /= l @conference.start_date, :format => :day_only
      = conference.start_date.day
      %span.grey>= t("date.to")
      /= l @conference.end_date, :format => :day_only
      = conference.end_date.day
      %span.grey>= t("date.of")
      = l @conference.start_date, format: :month_only
    %hr

.row
  .large-12.columns
    //if conference.start_date.today?
    = render "partials/calendar"
    - if !@conference.active?
      .row
        .large-8.large-centered.columns
          .panel.callout.radius
            %h1.text-center
              = distance_of_time_in_words_to_now(@conference.call_for_papers_start_date)
    - if @paginated_events.count.zero?
      .row
        .medium-6.medium-centered.columns
          .panel.callout.radius
            %h3
              = t("conference.call_for_papers_open")
            %p
              = t("conference.first_to_propose")

    - else
      %table
        %thead
          %tr
            %th{width: "980"}
              = t("Event")
            - if @conference.voting_enabled
              %th{width: "40"}
                = t("vote.other").humanize
        %tbody
          - @paginated_events.map do |event|
            %tr
              %td
                = link_to event.title, conference_event_path(@conference, event)
                = render partial: "partials/status_tags", locals: {event: event}
                %h5
                  %small
                    = event.summary
              - if @conference.voting_enabled
                %td.text-center
                  = event.votes
      .row
        .large-6.columns-centered.columns
          = will_paginate @paginated_events, renderer: FoundationPagination::Rails, container: false, class: "pagination-centered"
    - if @paginated_events.map{|event| !event.speaker?}.count.nonzero?
      .row
        .large-12.columns
          %p
            Los sigientes eventos no tienen ponente o responsable para llevarlos a cabo. Si crees que puedes presentar la charla o ayudar en el taller no lo dudes y haz tu propuesta.
          .panel.radius
            %ul.no-bullet
              - @paginated_events.map do |event|
                - if !event.speaker?
                  %li
                    = link_to event.title, conference_event_path(@conference, event)
                    %span.info.radius.label
                      - if event.subclass.eql?("workshop")
                        %i.fa.fa-wrench.fa-lg
                      - if event.subclass.eql?("talk")
                        %i.fa.fa-bullhorn.fa-lg
                      = t("event.subclasses.#{event.subclass}").humanize


.row
  .large-6.columns
    = link_to t("conference.list"), conferences_path, { class: "button radius expand" }
  .large-6.columns
    - if @conference.call_for_papers_enabled
      = link_to t("conference.propose_event"), new_conference_event_path(conference_id: @conference), { class: "button success radius expand" }
      /  %span.fa.fa-chevron-left.fa-fw.fa-lg
