/ .row
/   .medium-7.columns
/     %ul.breadcrumbs
/       %li
/         = link_to t("home"), "/"
/       %li.current
/         = @conference.title
.row
  .large-12.columns
    %h1
      = @conference.title
    %h6.subheader
      = @conference.description
    %h3.subheader
      %span.grey>= t("date.from")
      = l @conference.start_date, :format => :day_only
      %span.grey>= t("date.to")
      = l @conference.end_date, :format => :day_only
      %span.grey>= t("date.of")
      = l @conference.start_date, :format => :month_only

.row
  .large-12.columns
    = render "partials/calendar"
    - if @talks.count > 0
      %table
        %thead
          %tr
            %th{:width => "360"}
              = t("Talk")
            %th{:width => "150"}
              %i.fa.fa-calendar
              &
              %i.fa.fa-clock-o
            %th{:width => "40"}
              = t("Votes")
        %tbody
          - @talks.each do |talk|
            %tr
              %td
                = link_to talk.title, :controller => 'talks', :action => 'show', :id => talk, :conference_id => @conference
                - if talk.created_at.today?
                  %span.success.radius.label.bold
                    = t("new")
                    /- if talk.cancelled?
                  %span.alert.radius.label
                    = t("cancelled")
                %h5
                  %small
                    = talk.brief_description
              %td
                - if talk.date
                  = l talk.date
              %td.text-center
                = talk.votes
    - else
      .row
        .medium-6.medium-centered.columns
          .panel.callout.radius
            %h3
              = t("conference.call_for_talks_open")
            %p
              = t("conference.first_to_propose")

.row
  .large-6.columns
    = link_to t("conference.list"), { :controller => 'conferences', :action => 'index' }, { :class => "button radius expand" }
  .large-6.columns
    - if @conference.call_for_papers_enabled
      = link_to t("conference.propose_talk"), { :controller => 'talks', :action => 'new', :conference_id => @conference }, { :class => "button success radius expand" }
