- page_title t("event.new_event")

= event_breadcrumbs(@conference, nil, "new")

.row
  .large-12.columns
    %h1.subheader
      = t("event.new_event")
      %hr

.row
  .large-12.columns
    %h5.subheader
      = t("event.are_you_speaker")
  .medium-6.columns
    .text-justify
      %p
        = simple_format(t("event.are_you_speaker_explanation"))

  .medium-6.columns
    %br

  .medium-6.columns
    = link_to basic_events_path(@conference), { class: "button expand" } do
      = t("event.i_am_proposing")

  .medium-6.columns
    = link_to detailed_events_path(@conference), { class: "button success expand" } do
      = t("event.i_am_speaker")
