.row
  .medium-12.columns
    %ul.breadcrumbs
      %li
        = link_to t("home"), root_path
      %li
        = link_to Conference.friendly.find(params[:conference_id]).title, :controller => 'conferences', :action => 'show', :id => params[:conference_id]
      %li.current
        = t("event.new_event")
.row
  .medium-7.columns
    %p
      = t("event.complete_form")

= form_for(@event, url: {controller: "events", action: "create"}, data: {abide: ""}) do |f|
  .row
    .large-12.columns
      %label{:for => "title"}
        %i.fa.fa-bookmark.fa-lg
        = t("event.form_title")
        %small
          = t("event.form_required")
      = f.text_field :title, :label => false, :pattern => "extended_alphanumeric", :required => true, class: "radius", :autofocus => true
      %small.error
        = t("event.title_requirements")

  .row
    .large-12.columns
      %label{:for => "brief_description"}
        %i.fa.fa-paperclip.fa-lg
        = t("event.form_brief_description")
        %small
          = t("event.form_required")
      = f.text_field :brief_description, :label => false, :pattern => "extended_alphanumeric", :required => true, class: "radius"
      %small.error
        = t("event.brief_description_requirements")

  .row
    .large-12.columns
      %label{:for => "description"}
        %i.fa.fa-bars.fa-lg
        = t("event.form_description")
        %small
          = t("event.form_required")
      = f.text_area :description, :label => false, :pattern => "extended_alphanumeric", :required => true, class: "radius"
      %small.error
        = t("event.description_requirements")

  .row
    .large-5.columns
      %label
        %i.fa.fa-users.fa-lg
        = t("event.form_speakers")
      = f.text_field :speaker, :label => false, :pattern => "extended_alpha", class: "radius"
      %small.error
        = t("event.speaker_requirements")

    .large-5.columns
      %label{:for => "speaker_contact_info"}
        %i.fa.fa-envelope.fa-lg
        = t("event.form_contact")
      = f.text_field :speaker_contact_info, :label => false, :pattern => "extended_email", class: "radius"
      %small.error
        = t("event.email_requirements")

    .large-2.columns
      .button.large.radius.expand
        %i.fa.fa-plus.fa-lg
  .row
    .large-12.columns
      .panel.radius
        %ul
          %li
            %span #1. Ponente
            %a.fa.fa-pencil
            %a.fa.fa-times

  .row
    .large-12.columns
      %label
        %i.fa.fa-link.fa-lg
        = t("event.form_url")
      = f.text_field :content_url, :label => false, :pattern => "url", class: "radius"
      %small.error
        = t("event.url_requirements")
  .row
    .large-12.columns
      %label{:for => "tags"}
        %i.fa.fa-tags.fa-lg
        = t("event.form_tags")
      %span
        = t("event.form_tag_format")
      = f.text_field :tags, label: false, class: "radius"

  .row
    .large-3.columns
      %label
        %i.fa.fa-language.fa-lg
        = t("event.language")
      %select
        = options_for_select([['Spanish',1], ['English',2]])
        / = select("language", options_for_select([['Spanish',1], ['English',2]]))
        / = f.select_tag(:language, options_for_select(languages))

    .large-3.columns
      %label
        %i.fa.fa-clock-o.fa-lg
        Duration
      %select
        = options_for_select([['30 min',1], ['1 hora',2]])
       
    .large-6.columns
      %label
        %i.fa.fa-lightbulb-o.fa-lg
        = t("event.form_level")

      .row.show-for-touch
        .large-12.columns
          = f.range_field :level, :step => "1", :min => "0", :max => "4"
          %span.level-name

      .row.hide-for-touch
        .large-12.columns
          - (0...5).each do |i|
            = radio_button("level", "category", "#{i}")
            %label{:style => "text-transform:capitalize;"}
              = t("event.levels")[i]
         

  .row
    .large-12.columns
      %label{:for => "comments"}
        %i.fa.fa-comments.fa-lg
        = t("event.form_comments")
      = f.text_area :comments, label: false, :pattern => "extended_alphanumeric", class: "radius"
      %small.error
        = t("event.comments_requirements")
  .row
    .large-12.columns
      / = f.check_box
      %p Quiero solicitar un certificado como ponente
  .row
    .large-12.columns
      / = f.check_box
      %p Acepto las conficioens de privacidad
      
  .row
    .large-6.columns.large-centered
      = f.submit t("event.send_event"), class: "button radius expand success"
