- page_title t("event.new_event")
= render partial: "breadcrumbs"

.row
  .visible-for-medium-down
    .large-3.columns
      = link_to conference_path(params[:conference_id]), { class: "button tiny radius expand" } do
        %span.fa.fa-chevron-left.fa-fw.fa-lg
        = t("back").humanize

.row
  .medium-12.columns
    %h5.subheader
      = t("event.are_you_speaker")
    %hr

.row
  .large-6.columns
    = link_to basic_events_path(@conference), { class: "button radius expand" } do
      -# %span.fa.fa-reply.fa-fw.fa-lg
      %span.fa.fa-info-circle.fa-fw.fa-lg
      = t("event.i_am_proposing")

  .large-6.columns
    = link_to detailed_events_path(@conference), { class: "button radius success expand" } do
      %span.fa.fa-child.fa-fw.fa-lg
      = t("event.i_am_speaker")
      -# %span.fa.fa-chevron-right.fa-fw.fa-lg
