- page_title t("event.new_event")
= render partial: "breadcrumbs"

.row
  .large-12.columns
    %h1.subheader
      = t("event.detailed_info")
    %h5.subheader
      = t("event.complete_detailed_form")
    %hr

= form_for @form, url: {controller: "events", action: "create_detailed"} do |f|

  - @form.errors.full_messages.each do |msg|
    .row
      .large-12.columns
        .alert-box.alert.radius
          %li
            = msg

  .row
    .large-12.columns
      %label{for: "subclass"}
        %i.fa.fa-thumb-tack.fa-fw.fa-lg.subheader
        = t("event.subclass")
        %small
          = t("event.required")
        %i.fa.fa-question-circle.fa-fw{"aria-haspopup" => "true", "data-tooltip" => "", title: t("event.subclass_requirements"), class: "radius"}
      .row
        .large-3.columns
          = select("detailed_event", "subclass", Event.subclasses.keys.collect {|s| [t("event.subclasses.#{s}.default").humanize, s]}, {include_blank: true, selected: "selected"}, class: "radius", required: true, label:false)

  .row
    .large-12.columns
      %label{for: "title"}
        %i.fa.fa-bookmark.fa-fw.fa-lg.subheader
        = t("event.title")
        %small
          = t("event.required")
        %i.fa.fa-question-circle.fa-fw{"aria-haspopup" => "true", "data-tooltip" => "", title: t("event.title_requirements"), class: "radius"}
        .right
          %sub 128
      = f.text_field :title, label: false, maxlength: 128, required: true, class: "radius"

  .row
    .large-12.columns
      %label{for: "summary"}
        %i.fa.fa-paperclip.fa-fw.fa-lg.subheader
        = t("event.summary")
        %small
          = t("event.required")
        %i.fa.fa-question-circle.fa-fw{"aria-haspopup" => "true", "data-tooltip" => "", title: t("event.summary_requirements"), class: "radius"}
        .right
          %sub 128
      = f.text_field :summary, label: false, maxlength: 128, required: true, class: "radius"

  .row
    .large-12.columns
      %label{for: "description"}
        %i.fa.fa-bars.fa-fw.fa-lg.subheader
        = t("event.description")
        %small
          = t("event.required")
        %i.fa.fa-question-circle.fa-fw{"aria-haspopup" => "true", "data-tooltip" => "", title: t("event.description_requirements"), class: "radius"}
        .right
          %sub.subheader
            %strong Markdown enabled
          %sub 1400
      = f.text_area :description, label: false, maxlength: 1400, required: true, class: "radius", size: "10x8"

  .row
    .large-12.columns
      .alert-box.radius{data: {alert: ""}}
        %i.fa.fa-hand-o-right.fa-lg.fa-fw
        = t("warning.up_to_five")
        %a.close{href:""} ×

  -# Accordion for small screens
  .row
    .large-12.columns
      .show-for-small-up
        %ul.accordion{"data-accordion" => ""}
          = f.fields_for :speakers do |speaker|
            - sp_index = speaker.index + 1
            %li.accordion-navigation
              %a.text-center{href: "#speaker_#{sp_index}"}
                = t("speaker.caption", index: sp_index)
              .content{id: "speaker_#{sp_index}", class: "#{sp_index == 1 ? 'active' : ''}"}
                = render "partials/speaker_fields", f: speaker
      %br

  .row
    .large-12.columns
      %label{for: "content_url"}
        %i.fa.fa-link.fa-fw.fa-lg.subheader
        = t("event.url")
        .right
          %sub 128
      = f.url_field :content_url, label: false, maxlength: 128, type: "url", placeholder: "http://", class: "radius"

  .row
    .large-12.columns
      %label{for: "code"}
        %i.fa.fa-code.fa-fw.fa-lg.subheader
        = t("event.code")
        .right
          %sub 128
      = f.url_field :code, label: false, maxlength: 128, type: "url", placeholder: "http://", class: "radius"

  .row
    .large-12.columns
      %label{for: "tags"}
        %i.fa.fa-tags.fa-fw.fa-lg.subheader
        = t("event.tags")
        %i.fa.fa-question-circle.fa-fw{"aria-haspopup" => "true", "data-tooltip" => "", title: t("event.tag_format")}
        .right
          %sub 128
      = f.text_field :tags, label: false, maxlength: 128, class: "radius", placeholder: t("event.tag_format")

  .row
    .medium-4.columns
      %label{for: "language"}
        %i.fa.fa-globe.fa-fw.fa-lg.subheader
        = t("event.language")
        %small
          = t("event.required")
      = select("detailed_event", "language", t("event.languages").keys.collect {|l| [t("event.languages.#{l}").humanize, l]},{include_blank: true, selected: "selected"}, required: true, class: "radius")

    .medium-4.columns
      %label{for: "duration"}
        %i.fa.fa-clock-o.fa-fw.fa-lg.subheader
        = t("event.duration")
        %small
          = t("event.required")
      = select("detailed_event", "duration", Event.durations.keys.collect {|d| [t("event.durations.#{d}").humanize, d]}, { include_blank: true, selected: "selected"}, class: "radius", required: true, label: false)

    .medium-4.columns
      %label{for: "level"}
        %i.fa.fa-lightbulb-o.fa-fw.fa-lg.subheader
        = t("event.level")
        %small
          = t("event.required")
      = select("detailed_event", "level", Event.levels.keys.collect {|l| [t("event.levels.#{l}").humanize, l]}, { include_blank: true, selected: "selected"}, class: "radius", required: true, label: false)

  .row
    .large-12.columns
      %label{for: "comments"}
        %i.fa.fa-comments.fa-fw.fa-lg.subheader
        = t("event.comments")
        %i.fa.fa-question-circle.fa-fw{"aria-haspopup" => "true", "data-tooltip" => "", title: t("event.notes_requirements")}
        .right
          %sub 300
      = f.text_area :notes, label: false, maxlength: 300, pattern: "extended_alphanumeric", class: "radius", size: "10x6"

  -# .row
  -#   .large-12.columns
  -#     = check_box("eula", "accepted", { class: 'eula_check' }, "yes", "no")
  -#     %span Acepto las #{link_to "condiciones", "#", style: "border-bottom: 1px dashed"} para que la actividad pueda ser grabada y distribuida.

  .row
    .medium-4.columns
      = render partial: 'partials/recaptcha'
    .medium-4.columns
      = f.submit(t("event.send_event"), class: "button success expand")

