- page_title t("event.new_event")

= event_breadcrumbs(@conference, nil, "new")

.row
  .large-12.columns
    %h1.subheader
      = t("event.basic_info")
    %h5.subheader
      = t("event.complete_basic_form")
    %hr

= form_for @form, url: { controller: "events", action: "create_basic" } do |f|
  = render "basic_fields_event", f: f, form: @form
  = render "send_event", f: f
