- page_title t("speaker.propose")

.row.show-for-medium-up
  .medium-12.columns
    %ul.breadcrumbs
      %li
        = link_to t("home"), root_path
      %li
        = link_to @conference.title, conference_path(@conference)
      %li
        = link_to @event.title, conference_event_path(@conference, @event)
      %li.current
        = t("speaker.propose")

.row
  .medium-12.columns
    %h1.subheader
      = t("speaker.propose")
    %hr
    %p
      = t("speaker.propose_msg")

= form_for @speaker, url: {controller: "events", action: "send_speaker"} do |f|

  - @speaker.errors.full_messages.each do |msg|
    .row
      .large-12.columns
        .alert-box.alert.radius
          = msg

  .row
    .large-4.columns
      %label{for: "name"}
        %i.fa.fa-users.fa-fw.fa-lg.subheader
        = t("speaker.name")
        %small
          = t("event.required")
        .right
          %sub 64
      = f.text_field :name, label: false, maxlength: 64, class: "radius lettrify"

    .large-4.columns
      %label{for: "email"}
        %i.fa.fa-envelope.fa-fw.fa-lg.subheader
        = t("speaker.email")
        %small
          = t("event.required")
        .right
          %sub 64
      = f.text_field :email, label: false, maxlength: 64, type: "email", class: "radius"

    .large-4.columns
      %label{for: "twitter"}
        %i.fa.fa-twitter.fa-fw.fa-lg.subheader
        = t("speaker.twitter")
      .row.collapse.prefix-radius
        .small-2.columns
          %span.prefix
            %i.fa.fa-at.fa-fw.subheader
        .small-10.columns
          = f.text_field :twitter, label: false, maxlength: 64, pattern: "([A-Za-z0-9_]{1,15})", class: "radius"

    .large-12.columns
      -# .hide-for-touch
      = f.check_box :certificate, label: t('speaker.request_certificate').humanize
      // FIXME!!
      -# %label{for: "certificate"}
      -#   = t('speaker.request_certificate').humanize

      -# FIXME: Switch behaviour
      -# .show-for-touch
        .switch.radius.small
          // FIXME: generate Foundation randmom_str as ID
          - rand_id = ('0'..'z').to_a.shuffle.first(6).join
          %input{id: "switch-#{rand_id}", type: "checkbox", name: "speaker[certificate]"}
            %label{for: "switch-#{rand_id}"}
            -# %label{for: "certificate"}
            = t('speaker.request_certificate').humanize

  .row
    .large-12.columns
      = render "partials/recaptcha"

  .row
    .large-12.columns
      = f.submit(t("speaker.propose"), class: "button radius success expand")

.row
  .large-3.columns.show-for-medium-down
    = link_to conference_event_path(@conference, @event), { class: "button radius expand" } do
      %span.fa.fa-chevron-left.fa-fw.fa-lg
      = t("event.back_to_event").humanize
