- page_title t("speaker.propose")

.row.show-for-landscape
  .medium-12.columns
    %ul.breadcrumbs
      %li
        = link_to t("home"), root_path
      %li
        = link_to @conference.title, conference_path(@conference)
      %li
        = link_to @event.title, conference_event_path(@conference, @event)
      %li.current
        = t("speaker.propose")

- flash.each do |name, msg|
  .row
    .large-12.columns
      .alert-box.alert.radius
        = msg

.row
  .medium-12.columns
    %h1
      = t("speaker.propose")
    %hr
    %p
      = t("speaker.propose_msg")

= form_tag send_speaker_conference_event_path(@conference, @event) do
  .row
    .large-4.columns
      %label{for: "name"}
        %i.fa.fa-users.fa-fw.fa-lg
        = t("speaker.name")
        %small
          = t("event.required")
      = text_field_tag "name", nil, class: "radius", required: true, maxlength: 64

    .large-4.columns
      %label{for: "surname"}
        %i.fa.fa-users.fa-fw.fa-lg
        = t("speaker.surname")
        %small
          = t("event.required")
      = text_field_tag "surname", nil, class: "radius", maxlength: 64

    .large-4.columns
      %label{for: "email"}
        %i.fa.fa-envelope.fa-fw.fa-lg
        = t("speaker.email")
        %small
          = t("event.required")
      = email_field_tag "email", nil, class: "radius", required: true, type: "email", maxlength: 64


  .row
    .large-6.columns
      = submit_tag t("speaker.propose"), class: "button radius success expand"

.row
  .large-3.columns
    = link_to conference_event_path(@conference, @event), { class: "button radius expand" } do
      %span.fa.fa-chevron-left.fa-fw.fa-lg
      = t("event.back_to_event").humanize
