- page_title @event.title

.row
  .medium-12.columns
    %ul.breadcrumbs
      %li
        = link_to t("home"), root_path
      %li
        = link_to @conference.title, conference_path(@conference)
      %li.current
        = event.title
.row
  .large-12.columns
    = render 'partials/status_tags'
    %h2
      = event.title
    %h6.subheader
      = event.summary

    - if event.speakers.present?
      .row
        .large-6.columns
          %span
            = event.speakers.map{|speaker| "#{speaker.name} #{speaker.surname}"}.join(", ")
        .large-6.columns
          %span.right
            %i.fa.fa-support.fa-fw.subheader
            - if event.assisted_by.present?
              Asistida por:
              = event.assisted_by
            - else
              Asistente/s no asigando
    - else
      .row
        .large-6.columns
          Sin ponente

    %hr

.row
  .large-8.columns
    .text-justify
      = simple_format(event.description).html_safe
    -# .row
    -#   .columns
    -#     %div{:style => "position: absolute; bottom: 0; width: 100%; height: 50px; border: 1px solid red;"}

  .large-4.columns
    .panel.radius
      %ul.no-bullet
        %li
          %i.fa.fa-calendar.fa-fw.fa-lg.subheader
          - if event.start_dtime
            = l event.start_dtime.to_date, format: :long
          - else
            = t("not_available").humanize
        %li
          %i.fa.fa-clock-o.fa-fw.fa-lg.subheader
          = t("event.duration") + ":"
          = t("event.durations.#{event.duration}").humanize
        %li
          %i.fa.fa-map-marker.fa-fw.fa-lg.subheader
          = event.location
          /= link_to "¿Cómo llegar?", "http://www.openstreetmaps.org",  data: { "modal-id" =>"map-modal" } 
          = link_to "¿Cómo llegar?", "#",  data: { "reveal-id" => "map-modal" } 
          = render "partials/map_modal"
          /%a{"data-reveal-id" => "map-modal", :href => "#"} Click Me For A Modal

        %li
          %i.fa.fa-building.fa-fw.fa-lg.subheader
          - if event.room.present?
            Aula:
            = event.room
            // TODO: write a scope like "room.accesible?"
            %i.label.radius.success.fa.fa-wheelchair
          - else
            = t('event.room').humanize
            = t('not_available')

      %ul.no-bullet
        %li
          // TODO: culd be great with "link_to_if" method
          - if (event.start_dtime..event.end_dtime).cover?(Time.now) and event.live_video.present?
            .show-for-medium-up
              = link_to("#", data: { "reveal-id" => "video-modal" }) do 
                .button.tiny.alert.radius
                  %i.fa.fa-youtube-play.fa-fw.fa-lg
                  %strong Ver en directo
              = render "partials/video_modal"
            .show-for-small-only
              = link_to("http://techslides.com/demos/sample-videos/small.webm", target: "_blank" ) do 
                .button.tiny.alert.radius
                  %i.fa.fa-youtube-play.fa-fw.fa-lg
                  %strong Ver en directo
          - else
            %i.fa.fa-video-camera.fa-fw.fa-lg.subheader
            - if event.video.present?
              = render "partials/video_modal"
            - else
              = t('not_available').humanize
            
        %li
          %i.fa.fa-globe.fa-fw.fa-lg.subheader
          - if event.language.present?
            = t("event.languages.#{event.language}").humanize
          - else
            = t('not_available').humanize

        %li
          %i.fa.fa-lightbulb-o.fa-fw.fa-lg.subheader
          - if event.level.present?
            Nivel:
            = t("event.levels.#{event.level}").humanize
          - else
            = t('not_available').humanize

      %ul.no-bullet
        %li
          /%i.fa.fa-info.fa-fw.fa-lg.subheader
          - event.tag_list.map do |tag|
            .label.info.radius
              = tag.humanize

      .success.radius.label
        %p
          = event.votes
          %strong
            = t('vote', count: event.votes ).upcase

.row
  .large-12.columns
    %span
      %i.fa.fa-download.fa-fw.subheader
      //TODO: check 'link_to_if' out
      - if event.content_url.present?
        = link_to event.content_url, event.content_url, target: "_blank"
      - else
        = t("not_available").humanize

  - if event.code_url.present?
    .large-12.columns
      %span
        %i.fa.fa-code.fa-fw.subheader
          = link_to event.code_url, event.code, target: "_blank"
  - else
    .large-12.columns
      %span
        %i.fa.fa-code.fa-fw.subheader
        = t('code').humanize
        = t("not_available")
  .large-12.columns
    %hr

  .large-3.columns.text-center.left
    = link_to conference_path(@conference), class: "button radius expand" do
      %span.fa.fa-chevron-left.fa-fw.fa-lg
      = t("event.back_to_events").humanize

  - unless @event.cancelled

    - if @conference.voting_enabled
      .large-4.columns.right
        = link_to t("to_vote"), vote_conference_event_path, class: "button success radius expand"
    - else
      .large-4.columns.right
        = link_to "#", disabled: true, class: "button success radius expand" do
          %i.fa.fa-lock.fa-lg
          = t("to_vote")

    - if !@event.speaker? && @conference.call_for_papers_enabled
      .large-4.columns.right
        = link_to propose_speaker_conference_event_path, class: "button radius expand" do
          %i.fa.fa-child.fa-lg
          = t("speaker.propose")

= nested_comments @comments

- if @conference.active?
  = render "comments/form"

/.row
/ .large-6.columns
/   - if @conference.voting_enabled
/     = link_to t("to_vote"), { :controller => "events", :action => "vote" }, {:class => "button success radius expand" }
