.row
  .medium-12.columns
    %ul.breadcrumbs
      %li
        = link_to t("home"), root_path
      %li
        = link_to Conference.friendly.find(params[:conference_id]).title, conference_path(params[:conference_id])
      %li.current
        = event.title
.row
  .large-12.columns
    - if @event.created_at.today?
      %span.success.radius.label
        = t("event.status.new").humanize
    - if @event.cancelled?
      %span.alert.radius.label
        %i.fa.fa-lock.fa-lg
        = t("event.status.cancelled").humanize
    %h2
      = event.title

    %h6.subheader
      = event.brief_description
    %span
      Por
      = event.speaker
    %hr
.row
  %p.large-5.large-offset-8.columns
    %i.fa.fa-support.fa-fw.fa-lg.subheader
    Charla asistida por: menganito
.row
  .large-3.columns
    %ul.no-bullet
      /%li
      /  %i.fa.fa-users.fa-fw.fa-lg.subheader
      /  = event.speaker
      %li
        %i.fa.fa-calendar.fa-fw.fa-lg.subheader
        - if event.date
          = l event.date, format: :long
        - else
          = t("not_available")
      %li
        %i.fa.fa-clock-o.fa-fw.fa-lg.subheader
        - if event.start_time && event.end_time
          = t("time.from")
          = event.start_time.strftime('%R')
          = t("time.to")
          = event.end_time.strftime('%R')
        - else
          = t("not_available")
      %li
        %i.fa.fa-map-marker.fa-fw.fa-lg.subheader
        = event.location
        /= link_to "¿Cómo llegar?", "http://www.openstreetmaps.org",  data: { "modal-id" =>"map-modal" } 
        = link_to "¿Cómo llegar?", "http://www.openstreetmaps.org",  data: { "reveal-id" =>"map-modal" } 
        /%a{"data-reveal-id" => "map-modal", :href => "#"} Click Me For A Modal
        #map-modal.reveal-modal{"data-reveal" => ""}
          %h1.subheader Mapa
          %hr/
          %p Your couch.  It is mine.
          %iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://www.openstreetmap.org/export/embed.html?bbox=-3.7745869159698486%2C40.32920685790656%2C-3.759984970092773%2C40.33579063582344&amp;layer=mapnik&amp;marker=40.33249473785238%2C-3.7672805786132812", :style => "border: 1px solid black", :width => "425"}
          %br/
          %small
            %a{:href => "http://www.openstreetmap.org/?mlat=40.33249&amp;mlon=-3.76728#map=17/40.33250/-3.76729&amp;layers=N"} Ver mapa más grande
            %a.close-reveal-modal ×

      %li
        %i.fa.fa-building.fa-fw.fa-lg.subheader
        - if event.room?
          Aula:
          = event.room
          %i.label.radius.success.fa.fa-wheelchair
        - else
          Aula no disponible



    /.medium-4.columns
    %ul.no-bullet
      %li
        %i.fa.fa-video-camera.fa-fw.fa-lg.subheader
        test
        / Testing button
        %a
          .button.tiny.alert.radius
            %i.fa.fa-video-camera.fa-fw.fa-lg
            %span Ver en directo
          
        /=
      %li
        %i.fa.fa-language.fa-fw.fa-lg.subheader
        test
        /=
        /= t("event.language.#{event.languages}").humanize
      %li
        %i.fa.fa-lightbulb-o.fa-fw.fa-lg.subheader
        Nivel:
        = t("event.levels.#{event.level}").humanize

    %ul.no-bullet
      %li
        /%i.fa.fa-info.fa-fw.fa-lg.subheader
        - event.tag_list.each do |tag|
          .label.secondary.radius
            = tag
    

    .success.radius.label
      %p
        = event.votes
      %span
        VOTOS
    




  .large-9.columns
    // TODO: to put this inline style in css file
    %span.text-justify
      = simple_format(event.description).html_safe

    .row
      .large-4.large-offset-3.columns
        .fa.fa-download.fa-fw.fa-lg.subheader
        %span
          - if event.content_url
            = link_to event.content_url, event.content_url, target: "_blank"
          - else
            = t("not_available")
    
/%br

/.row
/  .large-6.columns
/    - event.tag_list.each do |tag|
/      .label.secondary.radius
/        = tag
.row
  .large-12.columns
    %hr
  .large-4.columns.right
    - if Conference.find(event.conference_id).voting_enabled && !event.cancelled
      = link_to t("to_vote"), vote_conference_event_path, class: "button success radius expand" 

= render_comments

.row
  .large-6.columns
    = link_to t("event.back_to_events"), conference_path(params[:conference_id]), class: "button radius expand"
  / .large-6.columns
  /   - if Conference.find(event.conference_id).voting_enabled
  /     = link_to t("to_vote"), { :controller => "events", :action => "vote" }, {:class => "button success radius expand" }
