.row
  .medium-12.columns
    %ul.breadcrumbs
      %li
        = link_to t("home"), root_path
      %li
        = link_to Conference.friendly.find(params[:conference_id]).title, conference_path(params[:conference_id])
      %li.current
        = event.title
.row
  .large-12.columns
    - if @event.created_at.today?
      %span.success.radius.label
        = t("event.status.new").humanize
    - if @event.cancelled?
      %span.alert.radius.label
        %i.fa.fa-lock.fa-lg
        = t("event.status.cancelled").humanize
    %h2
      = event.title
    %h6.subheader
      = event.brief_description
    .row
      .large-6.columns
        %span
          Por
          = event.speaker
      .large-6.columns
        %span.right
          %i.fa.fa-support.fa-fw.fa-lg.subheader
          Charla asistida por: menganito
    %hr

.row
  .large-8.columns
    // TODO: to put this inline style in css file
    %span.text-justify
      = simple_format(event.description).html_safe

  .large-4.columns
    .panel.radius
      %ul.no-bullet
        %li
          %i.fa.fa-calendar.fa-fw.fa-lg.subheader
          - if event.date
            = l event.date, format: :long
          - else
            = t("not_available")
        %li
          %i.fa.fa-clock-o.fa-fw.fa-lg.subheader
          - if event.start_time.present? && event.end_time.present?
            = t("time.from")
            = event.start_time.strftime('%R')
            = t("time.to")
            = event.end_time.strftime('%R')
          - else
            = t("not_available")
        %li
          %i.fa.fa-map-marker.fa-fw.fa-lg.subheader
          = event.location
          /= link_to "¿Cómo llegar?", "http://www.openstreetmaps.org",  data: { "modal-id" =>"map-modal" } 
          = link_to "¿Cómo llegar?", "http://www.openstreetmaps.org",  data: { "reveal-id" => "map-modal" } 
          /%a{"data-reveal-id" => "map-modal", :href => "#"} Click Me For A Modal
          #map-modal.reveal-modal.medium{"data-reveal" => ""}
            %h1.subheader Mapa
            %hr/
            %p Your couch.  It is mine.
            %iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://www.openstreetmap.org/export/embed.html?bbox=-3.7745869159698486%2C40.32920685790656%2C-3.759984970092773%2C40.33579063582344&amp;layer=mapnik&amp;marker=40.33249473785238%2C-3.7672805786132812", :style => "border: 1px solid black", :width => "425"}
            %br/
            %small
              %a{:href => "http://www.openstreetmap.org/?mlat=40.33249&amp;mlon=-3.76728#map=17/40.33250/-3.76729&amp;layers=N"} Ver mapa más grande
              %a.close-reveal-modal ×

        %li
          %i.fa.fa-building.fa-fw.fa-lg.subheader
          - if event.room.present?
            Aula:
            = event.room
            %i.label.radius.success.fa.fa-wheelchair
          - else
            Aula no disponible



      /.medium-4.columns
      %ul.no-bullet
        %li
          // TODO: culd be great with "link_to_if" method
          - if (event.start_time..event.end_time).cover?(Time.now)
            = link_to data: { "reveal-id" => "video-modal" } do 
              .button.tiny.alert.radius
                %i.fa.fa-youtube-play.fa-fw.fa-lg
                %strong Ver en directo
          - else
            %i.fa.fa-video-camera.fa-fw.fa-lg.subheader
            = t('not_available').humanize
            
        %li
          %i.fa.fa-globe.fa-fw.fa-lg.subheader
          - if event.language.present?
            = t("event.languages.#{event.language}").humanize
          - else
            = t('not_available').humanize

        %li
          %i.fa.fa-lightbulb-o.fa-fw.fa-lg.subheader
          - if event.level.present?
            Nivel:
            = t("event.levels.#{event.level}").humanize
          - else
            = t('not_available').humanize



      %ul.no-bullet
        %li
          /%i.fa.fa-info.fa-fw.fa-lg.subheader
          - event.tag_list.each do |tag|
            .label.info.radius
              = tag
      

      .success.radius.label
        = event.votes
        %strong
          = t('vote', count: event.votes ).upcase

.row
  .large-12.columns
    %span
      %i.fa.fa-download.fa-fw.fa-lg.subheader
      //TODO: check 'link_to_if' out
      - if event.content_url.present?
        = link_to event.content_url, event.content_url, target: "_blank"
      - else
        = t("not_available").humanize
  .large-12.columns
    %span
      %i.fa.fa-code.fa-fw.fa-lg.subheader
      Código
  .large-12.columns
    %hr
  .large-4.columns.right
    - if Conference.find(event.conference_id).voting_enabled && !event.cancelled
      = link_to t("to_vote"), vote_conference_event_path, class: "button success radius expand" 

= nested_comments @comments

- if @event.active?
  = render "comments/form"

.row
  .large-6.columns
    = link_to t("event.back_to_events"), conference_path(params[:conference_id]), class: "button radius expand"
  / .large-6.columns
  /   - if Conference.find(event.conference_id).voting_enabled
  /     = link_to t("to_vote"), { :controller => "events", :action => "vote" }, {:class => "button success radius expand" }
