.row
  .medium-12.columns
    %ul.breadcrumbs
      %li
        = link_to t("home"), root_path
      %li
        = link_to Conference.friendly.find(params[:conference_id]).title, conference_path(params[:conference_id])
      %li.current
        = event.title
.row
  .large-12.columns
    - if @event.created_at.today?
      %span.success.radius.label
        = t("event.status.new").humanize
    %span.info.radius.label
      - if @event.subclass.eql?("workshop")
        %i.fa.fa-wrench.fa-lg
      - if @event.subclass.eql?("talk")
        %i.fa.fa-bullhorn.fa-lg
      = t("event.subclasses.#{event.subclass}").humanize
    - if @event.cancelled?
      %span.alert.radius.label
        %i.fa.fa-lock.fa-lg
        = t("event.status.cancelled").humanize
    %h2
      = event.title
    %h6.subheader
      = event.summary

    - if event.speakers.present?
      .row
        .large-6.columns
          %span
            = event.speakers.map{|speaker| "#{speaker.name} #{speaker.surname}"}.join(", ")
        .large-6.columns
          %span.right
            %i.fa.fa-support.fa-fw.subheader
            - if event.assisted_by.present?
              Asistida por:
              = event.assisted_by
            - else
              Asistente/s no asigando
    - else
      .row
        .large-6.columns
          Sin ponente

    %hr

.row
  .large-8.columns
    .text-justify
      = simple_format(event.description).html_safe
    -# .row
    -#   .columns
    -#     %div{:style => "position: absolute; bottom: 0; width: 100%; height: 50px; border: 1px solid red;"}

  .large-4.columns
    .panel.radius
      %ul.no-bullet
        %li
          %i.fa.fa-calendar.fa-fw.fa-lg.subheader
          - if event.date
            = l event.date, format: :long
          - else
            = t("not_available").humanize
        %li
          %i.fa.fa-clock-o.fa-fw.fa-lg.subheader
          - if event.start_time.present? && event.end_time.present?
            = t("time.from").humanize
            = event.start_time.strftime('%R')
            = t("time.to")
            = event.end_time.strftime('%R')
          - else
            = t("not_available").humanize
        %li
          %i.fa.fa-map-marker.fa-fw.fa-lg.subheader
          = event.location
          /= link_to "¿Cómo llegar?", "http://www.openstreetmaps.org",  data: { "modal-id" =>"map-modal" } 
          = link_to "¿Cómo llegar?", "http://www.openstreetmaps.org",  data: { "reveal-id" => "map-modal" } 
          /%a{"data-reveal-id" => "map-modal", :href => "#"} Click Me For A Modal
          / TODO: put modal in patial
          #map-modal.reveal-modal.medium{"data-reveal" => ""}
            %h1.subheader Mapa
            %hr/
            %p Your couch.  It is mine.
            %iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://www.openstreetmap.org/export/embed.html?bbox=-3.7745869159698486%2C40.32920685790656%2C-3.759984970092773%2C40.33579063582344&amp;layer=mapnik&amp;marker=40.33249473785238%2C-3.7672805786132812", :style => "border: 1px solid black", :width => "425"}
            %br/
            %small
              %a{:href => "http://www.openstreetmap.org/?mlat=40.33249&amp;mlon=-3.76728#map=17/40.33250/-3.76729&amp;layers=N"} Ver mapa más grande
              %a.close-reveal-modal ×

        %li
          %i.fa.fa-building.fa-fw.fa-lg.subheader
          - if event.room.present?
            Aula:
            = event.room
            %i.label.radius.success.fa.fa-wheelchair
          - else
            = t('event.room').humanize
            = t('not_available')

      /.medium-4.columns
      %ul.no-bullet
        %li
          // TODO: culd be great with "link_to_if" method
          - if (event.start_time..event.end_time).cover?(Time.now)
            = link_to data: { "reveal-id" => "video-modal" } do 
              .button.tiny.alert.radius
                %i.fa.fa-youtube-play.fa-fw.fa-lg
                %strong Ver en directo
          - else
            %i.fa.fa-video-camera.fa-fw.fa-lg.subheader
            = t('not_available').humanize
            
        %li
          %i.fa.fa-globe.fa-fw.fa-lg.subheader
          - if event.language.present?
            = t("event.languages.#{event.language}").humanize
          - else
            = t('not_available').humanize

        %li
          %i.fa.fa-lightbulb-o.fa-fw.fa-lg.subheader
          - if event.level.present?
            Nivel:
            = t("event.levels.#{event.level}").humanize
          - else
            = t('not_available').humanize

      %ul.no-bullet
        %li
          /%i.fa.fa-info.fa-fw.fa-lg.subheader
          - event.tag_list.map do |tag|
            .label.info.radius
              = tag.humanize

      .success.radius.label
        %p
          = event.votes
          %strong
            = t('vote', count: event.votes ).upcase

.row
  .large-12.columns
    %span
      %i.fa.fa-download.fa-fw.subheader
      //TODO: check 'link_to_if' out
      - if event.content_url.present?
        = link_to event.content_url, event.content_url, target: "_blank"
      - else
        = t("not_available").humanize
  .large-12.columns
    %span
      %i.fa.fa-code.fa-fw.subheader
      = t("not_available").humanize
  .large-12.columns
    %hr

  .large-3.columns.text-center.left
    = link_to conference_path(params[:conference_id]), { class: "button radius expand" } do
      %span.fa.fa-chevron-left.fa-fw.fa-lg
      = t("event.back_to_events").humanize
  .large-4.columns.right
    - if Conference.find(event.conference_id).voting_enabled 
      - unless @event.cancelled
        - if !@event.speaker?
          = link_to propose_speaker_conference_event_path, class: "button success radius expand" do
            %i.fa.fa-child.fa-lg
            Quiero impartir la charla
        - else
          = link_to t("to_vote"), vote_conference_event_path, class: "button success radius expand" 
      - else
        = link_to "#", disabled: true, class: "button success radius expand" do
          %i.fa.fa-lock.fa-lg
          = t("to_vote")

= nested_comments @comments

- if Conference.find(@event.conference_id).active?
  = render "comments/form"

/.row
/ .large-6.columns
/   - if Conference.find(event.conference_id).voting_enabled
/     = link_to t("to_vote"), { :controller => "events", :action => "vote" }, {:class => "button success radius expand" }
