.row
  .medium-12.columns
    %ul.breadcrumbs
      %li
        = link_to t("home"), root_path
      %li
        = link_to Conference.friendly.find(params[:conference_id]).title, :controller => 'conferences', :action => 'show', :id => params[:conference_id]
      %li.current
        = event.title
.row
  .large-12.columns
    %h2
      = event.title
      - if @event.created_at.today?
        %span.success.radius.label
          = t("new")
      - if @event.cancelled?
        %span.alert.radius.label
          = t("cancelled")
    %h6.subheader
      = event.brief_description
.row
  .medium-4.columns
    %ul.no-bullet
      %li
        %i.fa.fa-users.fa-lg
        = event.speaker
      %li
        %i.fa.fa-calendar.fa-lg
        - if event.date
          = l event.date, :format => :long
        - else
          = t("not_available")
      %li
        %i.fa.fa-clock-o.fa-lg
        - if event.start_time && event.end_time
          = event.start_time.strftime('%R')
          = t("time.to")
          = event.end_time.strftime('%R')
        - else
          = t("not_available")

  .medium-4.columns
    %ul.no-bullet
      %li
        %i.fa.fa-map-marker.fa-lg
        = event.location
        /= redirect_to "¿Cómo llegar?", :link => "http://www.openstreetmaps.com" 
      %li
        %i.fa.fa-info.fa-lg
      %li
        %i.fa.fa-torsos
        /- event.
  .medium-4.columns
    %ul.no-bullet
      %li
        %i.fa.fa-language.fa-lg
          -# = event.language
      %li
        %i.fa.fa-lightbulb-o.fa-lg
        %span{:style => "text-transform:capitalize;"}
          = t("event.levels")[event.level]

      %li
.row
  .large-12.columns
    // TODO: to put this inline style in css file
    %p.text-justify{:style => "word-break:break-all;"}
      = event.description

.row
  .large-12.columns
    - event.tag_list.each do |tag|
      .label.secondary.radius
        = tag

.row
  .large-4.columns
    - if Conference.find(event.conference_id).voting_enabled
      = link_to t("to_vote"), { :controller => "events", :action => "vote" }, class: "button success radius expand" 

= render "partials/public_comments"

.row
  .large-6.columns
    = link_to t("event.back_to_events"), { :controller => 'conferences', :action => 'show', :id => params[:conference_id] }, { :class => "button radius expand" }
  / .large-6.columns
  /   - if Conference.find(event.conference_id).voting_enabled
  /     = link_to t("to_vote"), { :controller => "events", :action => "vote" }, {:class => "button success radius expand" }
