- page_title @event.title

= render 'partials/breadcrumbs', event: @event

.row
  .large-12.columns
    .show-for-medium-up
      = render 'partials/status_tags_full', event: @event
    .show-for-small
      = render 'partials/status_tags_short', event: @event
    - if not @event.speaker_list.present? and @conference.call_for_papers_enabled and not @event.cancelled?
      = link_to propose_speaker_conference_event_path, class: "label alert radius" do
        %i.fa.fa-child.fa-lg.fa-fw
        = t('speaker.unassigned').humanize

    .right
      .success.radius.label.large
        %b
          = @event.votes
          = t('vote', count: @event.votes).humanize
      %span.label.radius.secondary.visible-for-medium-up
        %span
          // TODO: localize
          Compártelo:
        = link_to "http://twitter.com/home?status=#{@event.title.truncate(30, separator: ' ')} #{@short_url} - via @guluc3m", target: "_blank" do
          %i.fa.fa-twitter.fa-lg
        = link_to "https://www.facebook.com/sharer/sharer.php?u=#{@event.title} #{@short_url} - via http://gul.es", target: "_blank" do
          %i.fa.fa-facebook.fa-lg
        = link_to "https://plus.google.com/share?url=#{@short_url}", target: "_blank" do
          %i.fa.fa-google-plus.fa-lg
    %h2
      = h(@event.title)
    %h6.subheader
      = h(@event.summary)

    - if @event.speaker_list.present?
      .row
        .large-6.columns
          %span
            - @event.speaker_list.each_with_index.map do |speaker, index|
              - if speaker.twitter.present?
                = link_to h(speaker.name), "https://twitter.com/#{speaker.twitter}", target: "_blank"
              - else
                = h(speaker.name)
              - unless index+1 == @event.speaker_list.length
                = ", "
    %hr

.row
  .medium-8.columns
    .text-justify
      = Markdown.new(@event.description).to_html.html_safe

  / Right column panel
  .medium-4.columns
    .panel
      %ul.no-bullet
        %li
          %i.fa.fa-calendar.fa-fw.fa-lg.subheader
          - if @event.start_dtime
            = l @event.start_dtime.to_date, format: :long
          - else
            = t("not_available").humanize
        %li
          %i.fa.fa-clock-o.fa-fw.fa-lg.subheader
          - if @event.start_dtime || @event.end_dtime
            = "#{@event.start_dtime.strftime("%H:%M")} - #{@event.end_dtime.strftime("%H:%M")}"
          - else
            = t("not_available").humanize
        %li
          %i.fa.fa-map-marker.fa-fw.fa-lg.subheader
          %span
            - if @event.location.present?
              = @event.location
              .show-for-medium-up
                = link_to t("event.directions"), "#",  data: { "reveal-id" => "map-modal" }, class: "dotted-link"
                = render "partials/map_modal"
              .show-for-small
                = link_to t("event.directions"), "http://www.openstreetmap.org/?mlat=40.33249&amp;mlon=-3.76728#map=17/40.33250/-3.76729", target: "_blank"
            - else
              = t("not_available").humanize

        %li
          %i.fa.fa-building.fa-fw.fa-lg.subheader
          - if @event.room.present?
            = t('event.room').humanize + ": " + @event.room
            // TODO: write a scope like "room.accesible?"
            %span.label.radius.success
              %i.fa.fa-wheelchair.fa-lg
          - else
            = "#{t('event.room').humanize} #{t('not_available')}"
      %hr

      %ul.no-bullet
        %li
          - if (@event.start_dtime..@event.end_dtime).cover?(Time.now) and @event.live_video.present?
            .show-for-medium-up
              = link_to("#", data: { "reveal-id" => "video-modal" }) do
                .button.tiny.alert.radius
                  %i.fa.fa-youtube-play.fa-fw.fa-lg
                  %strong
                    = t("event.watch_live").humanize
              = render "partials/video_modal", live: true
            .show-for-small-only
              = link_to(@event.live_video, target: "_blank" ) do
                .button.tiny.alert.radius
                  %i.fa.fa-youtube-play.fa-fw.fa-lg
                  %strong
                    = t("event.watch_live").humanize
          - elsif @event.video.present?
            .show-for-medium-up
              %i.fa.fa-video-camera.fa-fw.fa-lg.subheader
              = link_to("#", data: { "reveal-id" => "video-modal" }) do
                = t("event.view_recording").humanize
              = render "partials/video_modal", live: false
            .show-for-small-down
              %i.fa.fa-video-camera.fa-fw.fa-lg.subheader
              = link_to(@event.video, target: "_blank") do
                = t("event.view_recording").humanize
          - else
            = t('not_available').humanize

        %li
          %i.fa.fa-globe.fa-fw.fa-lg.subheader
          - if @event.language.present?
            = t("event.languages.#{@event.language}").humanize
          - else
            = t('not_available').humanize

        %li
          %i.fa.fa-lightbulb-o.fa-fw.fa-lg.subheader
          - if @event.level.present?
            = "#{t("event.level").humanize}:"
            = t("event.levels.#{@event.level}")
          - else
            = t('not_available').humanize

        - if not @event.cancelled
          -if @event.assisted_by.present?
            %i.fa.fa-support.fa-fw.fa-lg.subheader
            = t('event.assist.assisted_by').humanize
            = @event.assisted_by.humanize
          - elsif @event.accepted
            %i.fa.fa-support.fa-fw.subheader
            = t('event.assist.unassigned').humanize

      - if @event.tag_list.present?
        %ul.no-bullet
          %li
            - @event.tag_list.map do |tag|
              .label
                = tag.humanize

.row
  .large-12.columns
    %span
      %i.fa.fa-download.fa-fw.subheader
      = link_to_if(@event.content_url.present?, h(@event.content_url), @event.content_url, target: "_blank") do
        = t("not_available").humanize

  .large-12.columns
    %span
      %i.fa.fa-code.fa-fw.subheader
      = link_to_if(@event.code.present?, h(@event.code), @event.code, target: "_blank") do
        = t("not_available").humanize
  .large-12.columns
    %hr

  .visible-for-medium-down
    .medium-4.columns.left
      = link_to conference_path(@conference), class: "button radius expand" do
        %span.fa.fa-chevron-left.fa-fw.fa-lg
        = t("event.back_to_events").humanize

  - unless @event.cancelled
    - if @conference.voting_enabled
      .medium-4.columns.right
        = link_to vote_conference_event_path, class: "button success radius expand" do
          = t("to_vote")
    - else
      .medium-3.columns.right
        = link_to "#", disabled: true, class: "button success radius expand" do
          %i.fa.fa-lock.fa-lg
          = t("to_vote")

    - if !@event.speaker? && @conference.call_for_papers_enabled
      .medium-4.columns.right
        = link_to propose_speaker_conference_event_path, class: "button alert radius expand" do
          %i.fa.fa-child.fa-lg
          = t("speaker.propose").humanize

.row
  .large-12.columns
    .large-6.columns
      %h4.subheader
        %i.fa.fa-comments-o
        = t("event.comments").humanize
        - if @comments.count.nonzero?
          %sup.label.secondary
            = @comments.count

    %hr{style: "border-style: dashed"}
    - if @comments.present?
      - @comments.map do |comment|
        .row{id: "comment-#{comment.id}"}
          .large-8.columns
            .small-2.columns
              - icon = @avatar.create_base64(comment.name, grid_size: 5, square_size: 64)
              = image_tag "data:image/png;base64,#{icon}"
            .medium-10.columns
              %h4.subheader
                = Markdown.new(comment.name).to_html.html_safe
              %small
                = comment.created_at.to_s(:long)
              - if comment.ancestry?
                %p
                  = link_to "#comment-#{comment.parent}" do
                    = t("event.comment.response_to").humanize
              %p
                = simple_format(h(comment.content))
              .actions
                = link_to new_comment_path(@conference, @event, parent_id: comment) do
                  = t("event.comment.reply").humanize
              %hr

    - elsif @conference.active?
      .row
        .large-6.large-centered.columns
          .panel.callout.radius
            %h2
              = t("event.comment.no_comments").humanize
            %p
              = t("event.comment.first_to_comment").humanize

    - else
      .row
        .large-6.large-centered.columns
          .panel.callout.radius
            %h5
              %sub.fa.fa-frown-o.fa-2x.fa-fw
              = t("event.comment.no_comments").humanize

- if @conference.active?
  = render "comments/form"
