- page_title t("speaker.propose")

.row.show-for-medium-up
  .medium-12.columns
    %ul.breadcrumbs
      %li
        = link_to t("home"), root_path
      %li
        = link_to @conference.title, conference_path(@conference)
      %li
        = link_to @event.title, conference_event_path(@conference, @event)
      %li.current
        = t("speaker.propose")

.row
  .medium-12.columns
    %h1.subheader
      = t("thanks.speaker_thanks")
.row
  .large-6.columns
    %p
      = t("thanks.speaker_thanks_msg")

.row
  .large-6.columns
    = link_to t("event.back_to_event"), conference_event_path(@conference, @event), class: "button radius expand"
