- page_title t("views.event.new_event")

= event_breadcrumbs(@conference, nil, "new")

= render partial: "partials/view_header", locals: { header: "thanks.thank_you" }

.row
  .medium-6.columns
    %p
      -# = t("thanks.proposal", event_subclass: t("event.subclasses.#{event.subclass}"))
      = t("views.thanks.proposal")
      %em
        %strong
          = "'" + event.title + "'"
    %p
      = t("views.thanks.contact_msg")
      = mail_to "info@gul.es", "info@gul.es", subject: "[GulTalks]"


  .medium-6.columns
    = link_to t("views.conference.propose_another_event"), new_conference_event_path(@conference), class: "button success radius expand"
    = link_to t("views.event.back_to_events"), conference_path(@conference), class: "button radius expand"
