- page_title t("event.new_event")

.row.show-for-medium-up
  .medium-12.columns
    %ul.breadcrumbs
      %li
        = link_to conference.title, conference_path(conference)
      %li.current
        = event.title

.row
  .medium-12.columns
    %h1.subheader
      = t("thanks.thank_you")
    %hr
.row
  .medium-6.columns
    %p
      -# = t("thanks.proposal", event_subclass: t("event.subclasses.#{event.subclass}"))
      = t("thanks.proposal")
      %em
        %strong
          = "'" + event.title + "'"
    %p
      = t("thanks.contact_msg")
      = mail_to "info@gul.es", "info@gul.es", subject: "[GulTalks]"


  .medium-6.columns
    = link_to t("conference.propose_another_event"), new_conference_event_path(@conference), class: "button success radius expand"
    = link_to t("event.back_to_events"), conference_path(conference), class: "button radius expand"
