- page_title t("to_vote")

.row.show-for-landscape
  .medium-12.columns
    %ul.breadcrumbs
      %li
        = link_to t("home"), root_path
      %li
        = link_to @conference.title, conference_path(@conference)
      %li
        = link_to @event.title, conference_event_path(@conference, @event)
      %li.current
        = t("to_vote")

- flash.each do |name, msg|
  .row
    .large-12.columns
      .alert-box.alert.radius
        = msg

.row
  .medium-12.columns
    %h1
      = t("to_vote")
    %hr
    %p
      = t("thanks.vote_msg")
    .row
      .medium-6.columns
        %label
          %i.fa.fa-envelope.fa-fw.fa-lg.subheader
          = t("vote.email")

= form_tag send_vote_conference_event_path(@conference, @event) do
  .row
    .large-6.columns
      .row.collapse
        .small-9.columns
          = email_field_tag "email", nil, class: "radius", style: "border-right: 0; border-bottom-right-radius: 0; border-top-right-radius: 0;", required: true, type: "email", maxlength: 64
        .small-3.columns
          = submit_tag t("vote.send_vote"), class: "button radius success postfix"

.row
  .medium-9.columns
    %p
      = t("thanks.contact_msg")
      = mail_to "info@gul.es", "info@gul.es", subject: "[GUL TALKS]" 
.row
  .large-3.columns
    = link_to conference_event_path(@conference, @event), { class: "button radius expand" } do
      %span.fa.fa-chevron-left.fa-fw.fa-lg
      = t("event.back_to_event").humanize
