- page_title t("to_vote")

= event_breadcrumbs(@conference, @event, "vote")

- flash.each do |name, msg|
  .row
    .large-12.columns
      .alert-box.alert.radius
        = msg

.row
  .large-12.columns
    %h1.subheader
      = t("to_vote")
    %hr
.row
  .medium-6.columns
    %p
      = t("thanks.vote_msg")
    %p
      = t("thanks.contact_msg")
      = mail_to "info@gul.es", "info@gul.es", subject: "[GulTalks]"
  .medium-6.columns
    %label
      %i.fa.fa-envelope.fa-fw.fa-lg.subheader
      = t("vote.email")
      %small
        = t("event.required")
      = form_tag send_vote_conference_event_path(@conference, @event) do
        = email_field_tag "email", nil, class: "radius", required: true,  type: "email", maxlength: 64
        .row
          .medium-5.columns
            = render 'partials/recaptcha'
            %br
          .large-4.columns
            = submit_tag t("vote.send_vote"), class: "button radius success expand"

