.nested-fields
  .row
    .large-4.columns
      %label{for: "name"}
        %i.fa.fa-users.fa-fw.fa-lg
        = t("speaker.name")
        %small
          = t("event.required")
      = f.text_field :name, label: false, maxlength: 28, pattern: "extended_alpha", required: true, class: "radius"
      %small.error
        = t("speaker.name_requirements")

      = link_to_remove_association t("speaker.remove"), f

    .large-4.columns
      %label{for: "surname"}
        %i.fa.fa-users.fa-fw.fa-lg
        = t("speaker.surname")
        %small
          = t("event.required")
      = f.text_field :surname, label: false, maxlength: 36, pattern: "extended_alpha", required: true, class: "radius"
      %small.error
        = t("speaker.name_requirements")

    .large-4.columns
      %label{for: "email"}
        %i.fa.fa-envelope.fa-fw.fa-lg
        = t("speaker.email")
        %small
          = t("event.required")
      = f.text_field :email, label: false, maxlength: 64, pattern: "extended_email", required: true, class: "radius"
      %small.error
        = t("speaker.email_requirements")
