.nested-fields
  = field_set_tag do
    .row
      .large-4.columns
        %label{for: "name"}
          %i.fa.fa-users.fa-fw.fa-lg.subheader
          = t("speaker.name")
          %small
            = t("event.required")
          .right
            %sub#name-counter 64
        = f.text_field :name, label: false, maxlength: 64, required: true, class: "radius lettrify", data: { counter: "#name-counter"}

      .large-4.columns
        %label{for: "email"}
          %i.fa.fa-envelope.fa-fw.fa-lg.subheader
          = t("speaker.email")
          %small
            = t("event.required")
          .right
            %sub#email-counter 64
        = f.text_field :email, label: false, maxlength: 64, required: true, type: "email", class: "radius", data: { counter: "#email-counter"}

      .large-4.columns
        %label{for: "twitter"}
          %i.fa.fa-twitter.fa-fw.fa-lg.subheader
          = t("speaker.twitter")
        .row.collapse.prefix-radius
          .small-2.columns
            %span.prefix
              %i.fa.fa-at.fa-fw.subheader
          .small-10.columns
            = f.text_field :twitter, label: false, maxlength: 64, pattern: "([A-Za-z0-9_]{1,15})", class: "radius"

        .right
          = link_to_remove_association f, class: "button alert tiny radius" do
            %i.fa.fa-trash.fa-fw.fa-lg
            Eliminar
            -# = t('delete').humanize
