.row
  .medium-12.columns
    %ul.breadcrumbs
      %li
        = link_to t("home"), root_path
      %li
        = link_to Conference.friendly.find(params[:conference_id]).title, controller: 'conferences', action: 'show', id: params[:conference_id]
      %li.current
        = t("event.new_event")
.row
  .medium-7.columns
    %h5.subheader
      = t("event.complete_detailed_form")

= form_for(@event, url: wizard_path, method: :put, data: {abide: ""}) do |f|

  .row
    .large-12.columns
      %label
        %i.fa.fa-thumb-tack.fa-lg
        = t("event.form_subclass")

      .row.show-for-touch
        .large-12.columns
          = select("event", "subclass", Event.subclasses.keys.collect {|s| [t("event.subclasses.#{s}").humanize, s]})

      .row.hide-for-touch
        .large-12.columns
          - Event.subclasses.keys.each do |s|
            = radio_button("event", "subclass", "#{s}")
            %label
              = t("event.subclasses.#{s}").humanize

  .row
    .large-6.columns
      %label{:for => "speaker"}
        %i.fa.fa-users.fa-fw.fa-lg
        = t("event.form_speakers")
      = f.text_field :speaker, label: false, maxlength: 64, pattern: "extended_alpha", class: "radius"
      %small.error
        = t("event.speaker_requirements")

    .large-6.columns
      %label{:for => "speaker_contact_info"}
        %i.fa.fa-envelope.fa-fw.fa-lg
        = t("event.form_contact")
      = f.text_field :speaker_contact_info, label: false, maxlength: 64, pattern: "extended_email", class: "radius"
      %small.error
        = t("event.email_requirements")

  .row
    .large-12.columns
      %label
        %i.fa.fa-link.fa-fw.fa-lg
        = t("event.form_url")
      = f.url_field :content_url, label: false, maxlength: 128, pattern: "url", class: "radius"
      %small.error
        = t("event.url_requirements")
  .row
    .large-12.columns
      %label{:for => "tags"}
        %i.fa.fa-tags.fa-fw.fa-lg
        = t("event.form_tags")
      = f.text_field :tags, label: false, maxlength: 128, class: "radius", placeholder: t("event.form_tag_format")
      %small.error
        = t("error")

  .row
    .large-3.columns
      %label
        %i.fa.fa-language.fa-fw.fa-lg
        = t("event.form_language")
      /= select("language", "language_id", t("event.language_id").each_pair {|k,v| [ k, k ] }, { include_blank: true })
      %select 
        - t("event.languages").each_pair do |k, v|
          %option{value: k}
            = v.humanize
      /     %span
      /       = "#{k} -- #{v}"
      /       /= options_for_select([[t('event.language')[k], k], ['English',2]])
      /       / = select("language", options_for_select([['Spanish',1], ['English',2]]))
      /       / = f.select_tag(:language, options_for_select(languages))


    .large-3.columns
      %label
        %i.fa.fa-clock-o.fa-fw.fa-lg
        = t("event.form_duration").humanize
      %select
        = options_for_select([['30 min',1], ['1 hora',2]])

    .large-6.columns
      %label
        %i.fa.fa-lightbulb-o.fa-lg
        = t("event.form_level")

      .row.show-for-touch
        .large-12.columns
          = select("event", "level", Event.levels.keys.collect {|l| [t("event.levels.#{l}").humanize, l]})
          /%span.level-name

      .row.hide-for-touch
        .large-12.columns
          - Event.levels.keys.each do |l|
            = radio_button("event", "level", "#{l}")
            %label
              = t("event.levels.#{l}").humanize

  .row
    .large-12.columns
      %label{:for => "comments"}
        %i.fa.fa-comments.fa-fw.fa-lg
        = t("event.form_comments")
      = f.text_area :comments, label: false, maxlength: 300, pattern: "extended_alphanumeric", class: "radius", size: "10x6"
      %small.error
        = t("event.comments_requirements")
  .row
    .large-12.columns
      = check_box("cert", "accepted", { class: 'eula_check' }, "yes", "no")
      %span Quiero solicitar un certificado como ponente
  .row
    .large-12.columns
      = check_box("eula", "accepted", { class: 'eula_check' }, "yes", "no")
      %span Acepto las condiciones de privacidad
      
  .row
    .large-6.columns.large-centered
      = f.submit t("event.next_step"), class: "button radius expand success"
