- page_title t("event.new_event")
= render partial: "breadcrumbs"
.row
  .large-12.columns
    .columns
      %h2.subheader Información básica
    %hr
    %h5.subheader
      = t("event.complete_basic_form")

= form_for(@event, url: wizard_path, method: :put) do |f|

  - @event.errors.full_messages.each do |msg|
    .row
      .large-12.columns
        .alert-box.alert.radius
          = msg

  .row
    .large-12.columns
      %label{for: "subclass"}
        %i.fa.fa-thumb-tack.fa-fw.fa-lg.subheader
        = t("event.subclass")
        %small
          = t("event.required")
        %i.fa.fa-question-circle.fa-fw{"aria-haspopup" => "true", "data-tooltip" => "", title: t("event.subclass_requirements"), class: "radius"}
      .row
        .large-3.columns
          = select("event", "subclass", Event.subclasses.keys.collect {|s| [t("event.subclasses.#{s}").humanize, s]}, {include_blank: true, selected: "selected"}, class: "radius", required: true, label:false)

      -# .row.hide-for-touch
      -#   .large-12.columns
      -#     - Event.subclasses.keys.each do |s|
      -#       = radio_button("event", "subclass", "#{s}")
      -#       %label
      -#         = t("event.subclasses.#{s}").humanize

  .row
    .large-12.columns
      %label{for: "title"}
        %i.fa.fa-bookmark.fa-fw.fa-lg.subheader
        = t("event.title")
        %small
          = t("event.required")
        %i.fa.fa-question-circle.fa-fw{"aria-haspopup" => "true", "data-tooltip" => "", title: t("event.title_requirements"), class: "radius"}
      = f.text_field :title, label: false, maxlength: 128, required: true, class: "radius"
      -# .char-counter.right
      -#   128

  .row
    .large-12.columns
      %label{for: "summary"}
        %i.fa.fa-paperclip.fa-fw.fa-lg.subheader
        = t("event.summary")
        %small
          = t("event.required")
        %i.fa.fa-question-circle.fa-fw{"aria-haspopup" => "true", "data-tooltip" => "", title: t("event.summary_requirements"), class: "radius"}
      = f.text_field :summary, label: false, maxlength: 128, required: true, class: "radius lettrify"
      -# .char-counter.right
      -#   128


  .row
    .large-12.columns
      %label{for: "description"}
        %i.fa.fa-bars.fa-fw.fa-lg.subheader
        = t("event.description")
        %small
          = t("event.required")
        %i.fa.fa-question-circle.fa-fw{"aria-haspopup" => "true", "data-tooltip" => "", title: t("event.description_requirements")}
      = f.text_area :description, label: false, maxlength: 1400, required: true, class: "radius", size: "10x8"

  //.row
  //  .large-12.columns
  //    = check_box("eula", "accepted", { class: 'eula_check' }, "yes", "no")
  //    %span Acepto las condiciones de privacidad

      
  .row
    .large-3.columns.right
      = f.button class: "button radius expand success" do
        = content_tag(:span, t("event.next_step"))
        %span.fa.fa-chevron-right.fa-fw.fa-lg

    .large-3.columns.left
      = link_to conference_path(params[:conference_id]), { class: "button radius expand" } do
        %span.fa.fa-chevron-left.fa-fw.fa-lg
        = t("back").humanize
