- page_title t("event.new_event")
= render partial: "breadcrumbs"

.row
  .large-12.columns
    %h2.subheader
      -# = t("thanks.proposal", event_title: @event.title)
      = t("thanks.thank_you")
    %hr

- unless @event.errors.nil? || @event.errors.empty?
  .row
    .large-12.columns
      // TODO: translate
      -# - if session["event_wizard"]["errors"].nil? || session["event_wizard"]["errors"].empty? 
        %p.subheader
          Revisa los datos que se muestran a continuación. Si desas hacer algún cambio, puedes volver y modificalo.
      -# .alert-box.alert.radius
      -#   .row
      -#     .small-1.columns
      -#       %i.fa.fa-warning.fa-3x
      -#     .small-11.columns
      -#       %ul.no-bullet
      -#         - @event.errors.each do |err|
      -#           %li
      -#             -# - if err.eql? "title"
      -#               Revisa el título
      -#             = err


-# - unless session["event_wizard"]["speakers_attributes"].nil? || session["event_wizard"]["speakers_attributes"].empty?
  .row
    .large-12.columns
      = field_set_tag t("Speakers"), class: "subheader" do
        - session["event_wizard"]["speakers_attributes"].keys.map do |speaker|
          .row
            .large-4.columns
              %label{:for => "name"}
                %i.fa.fa-users.fa-fw.fa-lg
                = t("speaker.name")
              %p
                = session["event_wizard"]["speakers_attributes"][speaker]["name"]
          
            .large-4.columns
              %label{:for => "email"}
                %i.fa.fa-envelope.fa-fw.fa-lg
                = t("event.contact")
              %p
                = session["event_wizard"]["speakers_attributes"][speaker]["email"]

            .large-4.columns
              %label{:for => "twitter"}
                %i.fa.fa-users.fa-fw.fa-lg
                = t("speaker.twitter")
              %p
                = session["event_wizard"]["speakers_attributes"][speaker]["twitter"]

-# .row
  .large-12.columns
    = field_set_tag 'Your details', class: "subheader" do
      .row
        .large-12.columns
          %label{:for => "title"}
            %i.fa.fa-bookmark.fa-fw.fa-lg
            = t("event.title")
          %p
            = session["event_wizard"]["event"]["title"]
      
      .row
        .large-12.columns
          %label{:for => "summary"}
            %i.fa.fa-paperclip.fa-fw.fa-lg
            = t("event.summary")
          %p
            = session["event_wizard"]["event"]["summary"]
      
      .row
        .large-12.columns
          %label{:for => "description"}
            %i.fa.fa-bars.fa-fw.fa-lg
            = t("event.description")
          %p
            = session["event_wizard"]["event"]["description"]
    
      - unless session["event_wizard"]["speakers_attributes"].nil? || session["event_wizard"]["speakers_attributes"].empty?
        .row
          .large-12.columns
            %label
              %i.fa.fa-link.fa-fw.fa-lg
              = t("event.url")
            = session["event_wizard"]["event"]["content_url"]
        
        .row
          .large-12.columns
            %label{:for => "tags"}
              %i.fa.fa-tags.fa-fw.fa-lg
              = t("event.tags")
            %p
              - tags = session["event_wizard"]["tags"].split(",").collect(&:strip)
              - tags.each do |t|
                .label.secondary.radius 
                  = t
               
        .row
          .large-4.columns
            %label
              %i.fa.fa-globe.fa-fw.fa-lg
              = t("event.language")
            = t("event.languages.#{session["event_wizard"]["event"]["language"]}").humanize

        .row
          .large-12.columns
            %label{:for => "comments"}
              %i.fa.fa-comments.fa-fw.fa-lg
              = t("event.comments")
            = session["event_wizard"]["event"]["notes"]

= form_for(@event, url: wizard_path, method: :put) do |f|
  -# .row
  -#   .large-6.columns
  -#     %label{for: "email"}
  -#       %i.fa.fa-envelope.fa-fw.fa-lg
  -#       = t("event.validation_email")
  -#       %small
  -#         = t("event.required")
  -#     = f.text_field :validation_email, label: false, maxlength: 64, required: true, type: "email", class: "radius"

  -#   .large-6.columns
  -#     %label
  -#       = t("event.validation_email_explanation")

  -# Dummy field
  = f.hidden_field :validation_email 

  .row
    .large-12.columns
      = render 'partials/recaptcha'

  .row
    .large-6.columns
      // TODO: i18n
      -# = f.submit_tag t("event.send_event"), class: "button radius expand success", data: {disable_with: "Plase wait..."}
      = f.button type: "submit", class: "button radius expand success" do
        = content_tag(:span, t("event.send_event"))
        %i.fa.fa-share.fa-fw.fa-lg

