%aside.right-off-canvas-menu
  %ul.off-canvas-list
    %li
      %label GulTalks
    %li
      = link_to t("home"), root_path
    %li
      = link_to t("conference.list"), conferences_path
    %li
      = link_to "API", api_docs_path
    %li
      = link_to "Archivo", "http://ftp.gul.es/pub/gul/cursos/"
    %li
      = link_to "Fork us on GitHub", "https://github.com/guluc3m/gul-gultalks"
    %li
      = link_to "gul.es", root_url
    %li
      // TODO: localize
      %label Options
      %br
        - if Conference.find_by(call_for_papers_enabled: true)
          = link_to t("conference.propose_event"), new_conference_event_path(Conference.find_by(call_for_papers_enabled: true)), { class: "button success tiny radius" }
        = link_to "Admin", admin_path, { class: "button secondary tiny radius"}
