%footer
  .row
    .large-12.columns
      %hr/
  .row
    .medium-3.columns
      %ul.no-bullet.show-for-medium-up
        %li
          = link_to t("home"), root_path
        %li
          = link_to t("conference.list"), conferences_path
        %li
          = link_to "API", apidocs_path

    .medium-3.columns
      %ul.no-bullet.show-for-medium-up
        %li
          = link_to "Archivo", "http://ftp.gul.es/pub/gul/cursos/"
        %li
          = link_to "Fork us on GitHub", "https://github.com/guluc3m/gul-gultalks"
        %li
          = link_to "gul.es", root_url
    / Fortunes
    .medium-6.columns.show-for-medium-up
      #fortunes
        = render "partials/fortunes"
  .row
    .large-12.columns
      %sup.subheader
        © Grupo de Usuarios de Linux de la Universidad Carlos III de Madrid. 2007 — #{ Time.now().year }
  .row
    .small-1.small-centered.columns
      %span.fa-stack.fa-fw.fa-lg
        %i.fa.fa-circle.fa-stack-2x{style: "color:#d8d8d8"}
        %i.fa.fa-linux.fa-stack-2x.fa-inverse
= javascript_include_tag "application"
