/ Header and Nav
.off-canvas-wrap.docs-wrap{"data-offcanvas" => ""}
  .inner-wrap
    %nav.tab-bar{"data-topbar" => "", role:"navigation", "data-options" => "sticky_on: small"}
      %section.middle.tab-bar-section
        .row
          %div{:class => (defined?(conference) and conference != nil ? "large-3 small-6 columns" : "large-12 columns")}
            = link_to root_path do
              %h1.title.left
                = image_tag("/favicon-32x32.png", height: '32', width: '32', alt: "GulTalks ", style: "margin-top: -6px;")
                GulTalks
                %small
                  %sub
                    by GUL

          - if defined?(conference) and conference != nil
            .show-for-large-up
              .large-6.columns
                %h1.title
                  = conference.title
              .large-3.columns
                %h3.subheader.right
                  %span.grey>= t("date.from")
                  = conference.start_date.day
                  %span.grey>= t("date.to")
                  = conference.end_date.day
                  %span.grey>= t("date.of")
                  = l conference.start_date, format: :month_only
      %section.right-small.show-for-medium-down
        %a.right-off-canvas-toggle.menu-icon
          %span
    = render "layouts/aside_offcanvas"
    %section.main-section
      .row
        .large-12.columns
          %br
          = yield

    = render "layouts/footer"
    %a.exit-off-canvas
