!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    -# TODO: replace with gem helper
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "#{defined?(@conference) ? 'GulTalks - ' + @conference.title : 'GulTalks'}", :property => "og:title"}/
    %meta{:content => "article", :property => "og:type"}/
    %meta{:content => "#{request.original_url}", :property => "og:url"}/
    -# %meta{:content => "http://example.com/image.jpg", :property => "og:image"}/
    %meta{:content => "GulTalks", :property => "og:description"}/
    %title= page_title
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body
    = render 'cookies_eu/consent_banner'
    = render "layouts/header", conference: @conference
    -# = render "layouts/footer"
