!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    -# TODO: replace with gem helper
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "#{defined?(@conference) ? 'GulTalks - ' + @conference.title : 'GulTalks'}", :property => "og:title"}/
    %meta{:content => "article", :property => "og:type"}/
    %meta{:content => "#{request.original_url}", :property => "og:url"}/
    -# %meta{:content => "http://example.com/image.jpg", :property => "og:image"}/
    %meta{:content => "GulTalks", :property => "og:description"}/
    %title
      = page_title
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    = render 'cookies_eu/consent_banner'
    / Header and Nav
    .off-canvas-wrap{"data-offcanvas" => ""}
      .inner-wrap
        %nav.tab-bar{"data-topbar" => "", role:"navigation", "data-options" => "sticky_on: small"}
          -# TODO: put a back button on top. Only for small screens (handhelds devices)
          -# - if current_page?(controller: 'event', action: 'show')
          -#   %ul.title-area
          -#     %li.no-bullet.name
          -#       = link_to "Back", admin_path, { class: "button secondary tiny radius"}
          %section.right-small.show-for-medium-down
            %a.right-off-canvas-toggle.menu-icon
              %span
          %section.middle.tab-bar-section
            .row
              %div{ :class => (defined?(@conference) ? "large-2 columns" : "large-12 columns") }
                = link_to root_path do
                  = image_tag("lynx_shield_negative_full.png", height: '32', width: '32', alt: "GUL Lynx Shield", style: "float:left; margin-top: 6px; margin-left:5px")
                  %h1.title
                    GulTalks
                    %small β

              - if defined?(@conference)
                .show-for-large-up
                  .large-7.columns
                    %h1.title
                      = @conference.title
                  .large-3.columns
                    %h3.subheader
                      %span.grey>= t("date.from")
                      = @conference.start_date.day
                      %span.grey>= t("date.to")
                      = @conference.end_date.day
                      %span.grey>= t("date.of")
                      = l @conference.start_date, format: :month_only

        = render "layouts/aside_offcanvas"
        / End Header and Nav
        %section.main-section
        %br

        = yield
        %a.exit-off-canvas

        / Footer
        = render "layouts/footer"
