!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    -# TODO: replace with gem helper
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "#{defined?(@conference) ? 'GulTalks - ' + @conference.title : 'GulTalks'}", :property => "og:title"}/
    %meta{:content => "article", :property => "og:type"}/
    %meta{:content => "#{request.original_url}", :property => "og:url"}/
    -# %meta{:content => "http://example.com/image.jpg", :property => "og:image"}/
    %meta{:content => "GulTalks", :property => "og:description"}/
    -# = display_meta_tags
    %title
      = page_title
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body
    = render 'cookies_eu/consent_banner'
    / Header and Nav
    .off-canvas-wrap{"data-offcanvas" => ""}
      .inner-wrap
        %nav.tab-bar
          -# %nav.top-bar{"data-topbar" => "", role:"navigation", "data-options" => "sticky_on: large"}
          %section.right-small.show-for-medium-down
            %a.left-off-canvas-toggle.menu-icon
              %span
          %section.middle.tab-bar-section
            .row
              %div{ :class => (defined?(@conference) ? "large-2 columns" : "large-12 columns") }
                = link_to root_path do
                  = image_tag("lynx_shield_negative_full.png", height: '32', width: '32', alt: "GUL Lynx Shield", style: "float:left; margin-top: 6px; margin-left:5px")
                  %h1.title
                    GulTalks
                    %small β

              - if defined?(@conference)
                .show-for-large-up
                  .large-7.columns
                    %h1.title
                      = @conference.title
                  .large-3.columns
                    %h3.subheader
                      %span.grey>= t("date.from")
                      = @conference.start_date.day
                      %span.grey>= t("date.to")
                      = @conference.end_date.day
                      %span.grey>= t("date.of")
                      = l @conference.start_date, format: :month_only

        = render "layouts/aside_offcanvas"

        / End Header and Nav
        %section.main-section
        %br
        // FIXME
        -# - if current_page?(controller: 'conferences', action: 'show')
        /..row
        /.  .large-12.columns
        /.    .alert-box.radius{data: {alert: ""}}
        /.      %i.fa.fa-bug.fa-lg.fa-fw
        /.      Esta aplicación se encuentra en fase beta, si encuentras algún bug puedes notificarlo en info(at)gul.es, gracias.
        /.      %a.close{href:""} ×

        = yield
        %a.exit-off-canvas

        / Footer
        = render "layouts/footer"
