!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    -# %meta{:content => "#{@conference.title}", :property => "og:title"}/
    %meta{:content => "article", :property => "og:type"}/
    %meta{:content => "http://cursos.gul.es/", :property => "og:url"}/
    %meta{:content => "http://example.com/image.jpg", :property => "og:image"}/
    %meta{:content => "Description Here", :property => "og:description"}/
    %title
      = page_title
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    = render 'cookies_eu/cookies_eu'
    / Header and Nav
    .off-canvas-wrap{"data-offcanvas" => ""}
      .inner-wrap
        %nav.tab-bar
          -# %nav.top-bar{"data-topbar" => "", role:"navigation", "data-options" => "sticky_on: large"}
          %section.left-small
            %a.left-off-canvas-toggle.menu-icon
              %span
          %section.middle.tab-bar-section
            .row
              %div{ :class => (defined?(@conference) ? "large-2 columns" : "large-12 columns") }
                = link_to root_path do
                  %h1.title
                    GulTalks
                    %small β

              - if defined?(@conference)
                .show-for-landscape
                  .large-7.columns
                    %h1.title
                      = @conference.title
                  .large-3.columns
                    %h3.subheader
                      %span.grey>= t("date.from")
                      = @conference.start_date.day

                      %span.grey>= t("date.to")
                      = @conference.end_date.day

                      %span.grey>= t("date.of")
                      = l @conference.start_date, format: :month_only

        %aside.left-off-canvas-menu
          %ul.off-canvas-list
            %li
              %label GulTalks
            %li
              = link_to t("home"), root_path
            %li
              = link_to t("conference.list"), conferences_path
            %li
              = link_to "API", apidocs_path
            %li
              = link_to "Archivo", "http://ftp.gul.es/pub/gul/cursos/"
            %li
              = link_to "Fork us on GitHub", "https://github.com/guluc3m/gul-gultalks"
            %li
              = link_to "gul.es", "http://gul.es"
              // TODO: localize
              %label Options
              %br
              .row
                .columns
                  - if Conference.find_by(call_for_papers_enabled: true)
                    = link_to t("conference.propose_event"), new_conference_event_path(Conference.find_by(call_for_papers_enabled: true)), { class: "button success tiny radius expand" }
                  = link_to "Admin", "/admin", { class: "button secondary tiny radius expand"}
                -# = link_to t("conference.propose_event"), new_conference_event_path(conference_id: @conference), { class: "button success radius expand" }
        / End Header and Nav
        %section.main-section
        %br
        // FIXME
        -# - if current_page?(controller: 'conferences', action: 'show')
        .row
          .large-12.columns
            .alert-box.radius{data: {alert: ""}}
              %i.fa.fa-bug.fa-lg.fa-fw
              Esta aplicación se encuentra en fase beta, si encuentras algún bug puedes notificarlo en info(at)gul.es, gracias.
              %a.close{href:""} ×
        = yield
        %a.exit-off-canvas
        / Footer
        = render "layouts/footer" 
