!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    -# %meta{:content => "#{@conference.title}", :property => "og:title"}/
    %meta{:content => "article", :property => "og:type"}/
    %meta{:content => "http://www.example.com/", :property => "og:url"}/
    %meta{:content => "http://example.com/image.jpg", :property => "og:image"}/
    %meta{:content => "Description Here", :property => "og:description"}/
    -# %title= content_for?(:title) ? yield(:title) : "GulTalks | #{@conference.title} - #{@conference.start_date.year}"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    / Header and Nav
    .off-canvas-wrap{"data-offcanvas" => ""}
      .inner-wrap
        %nav.tab-bar
          -# %nav.top-bar{"data-topbar" => "", role:"navigation", "data-options" => "sticky_on: large"}
          %section.left-small
            %a.left-off-canvas-toggle.menu-icon
              %span
          %section.middle.tab-bar-section
            = link_to root_path do
              %h1.title
                GulTalks

        %aside.left-off-canvas-menu
          %ul.off-canvas-list
            %li
              %label GulTalks
            %li
              = link_to t("home"), root_path
            %li
              = link_to t("conference.list"), conferences_path

              -# %ul.left-submenu
              -#   %li.back
              -#     %a{:href => "#"} Back
              -#   %li
              -#     %label Level 1
              -#   %li
              -#     %a{:href => "#"} Link 1
              -#   %li.has-submenu
              -#     %a{:href => "#"} Link 2 w/ submenu
              -#     %ul.left-submenu
              -#       %li.back
              -#         %a{:href => "#"} Back
              -#       %li
              -#         %label Level 2
              -#       %li
              -#         %a{:href => "#"} ...
              -#   %li
              -#     %a{:href => "#"} ...
            %li
              -# = link_to t("conference.propose_event"), new_conference_event_path(conference_id: @conference), { class: "button success tiny radius expand" }
            %li
              %label Options
              %br
              .row
                .columns
                  / FIXME: fix route
                  = link_to t("conference.propose_event"), "#", { class: "button success tiny radius expand" }
                  = link_to "Admin", "/admin", { class: "button secondary tiny radius expand"}
                -# = link_to t("conference.propose_event"), new_conference_event_path(conference_id: @conference), { class: "button success radius expand" }
        / End Header and Nav
        %section.main-section
        %br
        = yield
        %a.exit-off-canvas
        / Footer
        %footer
          .row
            .large-12.columns
              %hr/
              .row
                .large-6.columns
                  %small.subheader
                    © Grupo de Usuarios de Linux de la Universidad Carlos III de Madrid. 2007 -
                    = Time.now().year
                / Fortunes
                #fortunes.large-6.columns
                  = render "partials/fortunes"
          .row
            .small-1.small-centered.columns
              %span.fa-stack.fa-fw.fa-lg
                %i.fa.fa-circle.fa-stack-2x{style: "color:#d8d8d8"}
                  %i.fa.fa-linux.fa-stack-2x.fa-inverse
                    / %ul.inline-list.right
                /  %li
                /    %a{:href => "#"} Section 1
                /  %li
                /    %a{:href => "#"} Section 2
                /  %li
                /    %a{:href => "#"} Section 3
                /  %li
                /    %a{:href => "#"} Section 4
        = javascript_include_tag "application"
